[2018-02-09 11:28] vlerenc opened #1 "Automated Backup & Restore"
# Story
- As user I want my Kubernetes cluster always to show my latest state and not "forget" resources.
- As provider I want etcd backups to be taken frequently and the last one to be restored automatically should the PV be definitely lost or the current persistence be corrupt.

# Motivation
Business continuity.

# Acceptance Criteria
- [x] ETCD backups are taken frequently, e.g. every 5 minutes

[2018-02-09 11:33] vlerenc opened #2 "Incremental/Continuous ETCD Backups"
# Story
- As user I want my Kubernetes cluster always to show my latest state and not "forget" resources.
- As provider I want etcd backups to be written incrementally/continuously (with full backups now and then) so that I run a near-zero risk of infrastructure inconsistencies after backup.

# Motivation
In order to make sure our ETCD backups are as fresh as possible and reflect the actual infras

[2018-02-09 11:35] vlerenc opened #3 "Condensed ETCD Backups"
# Story
- As provider I want to reduce costs, but still have some old etcd backups to pick from (manually) should the need arise.

# Motivation
Right now we take only backups for the past 7 days (once a day), but it would be better to have a much more frequent backups and "condense older backups".

# Acceptance Criteria
- [x] Take ETCD backups frequently (to increase the likelihood of being up-to-

[2018-02-11 13:59] vlerenc opened #5 "Preserve Backups after Cluster Deletion"
# Story
- As provider I want to preserve backups of deleted clusters so that I can help the operator in case the cluster deletion happened accidentally.

# Motivation
At present, all backups are deleted when the cluster is deleted, which may happen accidentally and then we would lose everything at once. It would be better to not delete them right away and instead keep them for some time and let a

[2018-04-13 16:51] georgekuruvillak opened #23 "Add TLS support for taking periodic backups of remote etcd"
Currently, the etcdbrctl supports only http client access. Add support for etcdbrctl to connect to etcd server over TLS.

[2018-04-30 12:00] #23 closed

[2018-05-14 09:11] #1 closed

[2018-05-23 12:08] #5 closed

[2018-06-15 05:45] swapnilgm commented on #2
Feature added in #29

[2018-06-15 05:45] #2 closed

[2018-06-20 09:20] #3 closed

[2018-06-21 19:43] vlerenc opened #33 "Multi-Node ETCD Backup & Restore"
In context of the Gardener ring, @rfranzke and @mandelsoft raise the question whether the current solution can be retrofitted for backup & restore in the multi-node Gardener ring.

[2018-06-21 19:47] vlerenc opened #34 "Extended Shoot Cluster Control Plane Backup & Restore"
In context of the Gardener ring and the seed cluster disaster recovery, @rfranzke and @vlerenc raise the question, whether the current solution can be extended to also include the seed cluster resources for a shoot cluster, a.k.a. "moving control planes", please see https://github.com/amshuman-kr/gardener/blob/master/docs/proposals/shoot-control-plane-migration/README.md.

[2018-06-22 11:07] swapnilgm commented on #33
Yes. We can extend it. Although this breaks up the initial assumption of having single node cluster we had considered while designing it. So, there are some complications involved.

So, from gardener ring's perspective we will have three statefulSets running in three different clusters. Probably we will have to bring in logic of leader election there for backup so that only one backup sidecar can

[2018-06-22 12:19] vlerenc commented on #33
Thank you for the feedback!

[2018-06-22 12:19] vlerenc commented on #34
Thank you! Let me keep the ticket please open for a while until the discussion above comes to an end and then we'll move the ticket accordingly.

[2018-07-05 10:26] georgekuruvillak opened #38 "Integration test for the HTTP endpoints."
The packages have been tested from an integration perspective. However, tests are required for the HTTP endpoints of backup-restore server as well. This is how, etcd container interfaces with the etcd-backup-restore container in Gardener etcd deployment.

[2018-07-11 05:21] swapnilgm opened #41 "Optimise the restoration process"
Currently, while restoring etcd from available incremental/delta snapshots, it fetch the snapshot and applies the snapshot sequentially one by one. For reducing the snapshot fetch time from object store, we can parallelise the fetch call. This can be done at two level:
Lets we have delta snapshot in order as A, B, C ... then
- Once A is fetched, one go routine will start unmarsheling and applying

[2018-07-11 05:47] vlerenc commented on #41
It will be interesting to see how long restore/recovery for large/busy etcds will take. At one point in time, we will need backup & restore/recovery tests as part of the landscape validation pipelines (simply also because landscape misconfiguration could break the functionality).

[2018-07-11 05:58] amshuman-kr commented on #41
A small variation can be that, there can be a one *downloader* goroutine which keeps downloading files and there is another *applier* goroutine which keeps applying the events from the files sequentially. The *downloader* send an event (via a channel) to the *applier* to co-ordinate between them.

This way, the *downloader* becomes relatively independent of the *applier*.

[2018-07-20 08:46] georgekuruvillak opened #44 "[Critical] Etcd crash post data directory restoration."
The backup-restore container logs:
[code]

Etcd logs:
[code]

[2018-07-20 12:11] georgekuruvillak opened #45 "Etcd snapshot corruption bug fix."
Backup-restore utilizes a reader object from etcd and writer to the cloud-provider. Therefore, the backup is directly pushed from etcd to the cloud bucket with out taking a local copy or ensuring its valid. In case, snapshot fails partially due to snapshot timeout, corrupt etcd snapshot gets stored in the cloud bucket.

Change full snapshot procedure to first take the snapshot locally and then pus

[2018-07-20 18:54] vlerenc commented on #45
Thank you!

[2018-08-01 07:12] nikhilsap opened #48 "Etcd Snapshot upload timeout"
While doing performance test on etcd, db crossed 1 gb of data. While taking snapshot of the db, we faced issue. Etcd went in to crashloopbackoff state.
on RCA, @georgekuruvillak found the issue with the timeout. Snapshot of the larger db size takes lot of time.
Hoping for a code fix.

/kind/bug

[2018-08-08 04:51] swapnilgm opened #49 "Update etcd imports and vendor to github.com/etcd-io/etcd"
As per [announcment](https://groups.google.com/forum/#!topic/etcd-dev/pPZetu4Y8rs) soon coreos community is moving etcd and other sub-projects to its own GitHub organization.
Reference: https://github.com/coreos/etcd/issues/9965.
Probably old path will continue to work with github redirection. Still since its recommended lets re-vendor it.

[2018-08-09 02:40] swapnilgm commented on #48
Update:
This issue is fixed temporarily from gardener via https://github.com/gardener/gardener/pull/304.
Still we need to have more optimisation like multi-part upload with parallelism to reduce time for uploading large snapshots in case of heavy loaded cluster.

[2018-08-27 17:35] bergerx commented on #34
Related wip design doc dicsussions: [WIP] Design proposal for shoot control-plane migration gardener/gardener#204

[2018-09-10 11:38] nikhilsap opened #54 "Full snapshot fails for large DB size"
We are doing performance test on Etcd.
DB size is of 2GB.
Connection Timeout : 300 secs
We have configured the full snapshot for every 10 mins.

The schedule full snapshot was at 10:40:00.
From the log , we can see that at 10.38 ,level=warning msg="watch channel responded with err: %v etcdserver: mvcc: required revision has been compacted.

![image](https://user-images.githubusercontent.com/411041

[2018-09-10 11:39] nikhilsap commented on #54
/assign @georgekuruvillak

[2018-09-10 16:07] swapnilgm commented on #54
Closing this issue since this issue is duplicate of https://github.com/gardener/etcd-backup-restore/issues/48 And PR for the fix is under review and will be merged soon.

[2018-09-10 16:07] #54 closed

[2018-09-18 11:19] shreyas-s-rao commented on #49
The latest tagged version of etcd is 3.3.9 (July 24th), which was released before the migration announcement was made (issue #9965 raised on July 28th). Hence, it does not incorporate the new repo imports yet and trying to vendor this version leads to vendoring of the old repo as well, resulting in object mismatch errors within the code.

It is advisable to wait for version 3.3.10 of etcd for the

[2018-09-18 12:15] msohn commented on #49
when you do the update please also update the link in
https://github.com/gardener/etcd-backup-restore/blob/master/LICENSE.md
to the new repository location

[2018-09-19 03:07] shreyas-s-rao commented on #49
Definitely @msohn

[2018-09-25 06:27] #48 closed

[2018-09-26 17:52] vlerenc commented on #34
Closing this ticket as Gardener extensibility https://github.com/gardener/gardener/pull/370 will make control plane migration simpler and implicitly deal with extended seed state (https://github.com/gardener/gardener/pull/204 was closed for the same reason).

[2018-09-26 17:52] #34 closed

[2018-10-10 08:37] ThormaehlenFred opened #56 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2018-10-12 08:28] swapnilgm commented on #56
We don't have access to Checkmarx server. So couldn't see the precise issues. I have raised the ticket for access. And will look into the issue once we get access.

[2018-10-25 09:04] swapnilgm commented on #56
I have gone through the scan results. And resolved the issues there with comments. Thanks @ThormaehlenFred for helping with Checkmarx dashboard. It doesn't require any code changes.

[2018-10-25 09:04] #56 closed

[2018-10-29 15:21] afritzler opened #61 "Compacting Incremental Snapshot Files"
Question: How are you guys dealing with the incremental backup files when restoring a cluster? I am asking, because in Kubify we expect one full snapshot file to trigger a restore operation. What is the best way to compact all the incremental backup files into one? Do you have already something handy?

[2018-10-30 11:40] georgekuruvillak commented on #61
We haven't planned compacting the incremental backup files into one as of now. But if you want we create a sub command that will take the incremental snaps and compact them and push them at command execution.

[2018-10-30 13:07] afritzler commented on #61
We just need this for our restore process which is manual at the moment. So it would be enough if there would be a sub command which works on a folder containing the full backup and the snapshots (e.g. downloaded from the corresponding S3 bucket folder) and creates a compacted full backup at the end. This one we could then easily feed in when we restore the cluster.

[2018-10-31 13:01] nikhilsap opened #62 "Scheduled full snapshots are not happening after an ETCD container crash"
While we are doing performance tests in etcd, we noticed after a crash observed in etcd container, it comes up on its own in some time, further we could see the scheduled full snapshots are not being happening or taken.
Full snapshot was scheduled for every 10 mins. Even after 30-40 mins, We could observe there was not even  a single full snapshot.
I am attaching the backup-restore log file for th

[2018-10-31 14:30] vlerenc commented on #62
Thank you, that sounds weird and dangerous!

[2018-11-02 09:50] georgekuruvillak commented on #61
There is one way to do this indirectly. If you delete the member directory and do a data directory initialization(`https://github.com/gardener/etcd-backup-restore/blob/master/README.md#etcd-data-directory-initialization`), the data directory will be restored from the latest full and incremental snapshot. Can you check if this is sufficient?

[2018-11-02 09:52] swapnilgm commented on #61
You can use `etcdbrctl  restore` subcommand to restore from full snapshot including set of incremental snapshots. This will give you working <etcd-data-directory>. if this is not your requirement and you want only full snapshot file to feed in your kubify, you can can use `db` file from `<etcd-data-direcotry>/member/snap/db`.

[2018-11-02 09:54] afritzler commented on #61
Thanks guys! I will have a look into it.

[2018-11-05 03:52] swapnilgm commented on #62
Fixed via https://github.com/gardener/etcd-backup-restore/pull/51

[2018-11-05 03:52] #62 closed

[2018-11-05 03:57] swapnilgm opened #63 "Wrtie unit/integration test for race conditions"
We are yet missing on unit tests  and integration tests considering wide scenarios that can happen on deployment. We need to check add automate tests to simulate and test the code against different race conditions.

[2018-11-13 05:49] amshuman-kr opened #64 "Scaling recommendations for single-node ETCD for larger Kubernetes clusters"
### Story

* As a [Gardener](https://github.com/gardener/gardener) user, I want to create larger Kubernetes shoot clusters with ~500 to 1000 nodes and the ETCD back-end should support the corresponding load.
* As a [Gardener](https://github.com/gardener/gardener) administrator, I want recommendations about scaling parameters for ETCD that can support larger Kubernetes clusters.

### Motivation

*

[2018-11-14 03:25] #41 closed, assigned to georgekuruvillak, shreyas-s-rao

[2018-11-16 17:32] afritzler opened #65 "Backup sidecar stops working when facing connection issues"
It looks like the backup-side car which we are using in the kubify setup stops working when it faces a connection issue against the blob storage.

[code]

To make things worse, it keeps on going with the garbage collection. So eventually it will remove all old backups but won't create any new ones.

[2018-11-19 04:58] swapnilgm commented on #65
Hi @afritzler ,
This is effect of one of the unhandled race condition in code. We already have refactored code accordingly and merged it with master. We have another small code change to add to the master. I'm working on it. And will make a new release soon.

[2018-11-19 09:53] swapnilgm opened #66 "Expose different metrics to monitor backup-restore utility"
### Story
* As a user, I want to monitor the backup-restore utility is working as expected.
* As a user, I want to know the time of last full and delta backups taken, Number of snapshots garbage collected on last call, last restoration triggered, etcd revision on latest snapshot and similar metrics.

### Acceptance Criteria
- [ ] `/metrics` API is exposed .
- [ ] timestamp of last full snapshot
-

[2018-11-19 10:41] swapnilgm opened #67 "Add safety check as a part of data validation, to check the etcd data directory revision is greater than last snapshot revision"
To just to make sure that, that Etcd data directory is in consistent shape across the restart of backup-sidecar or etcd containe and there is no data loss, we should add a sanity check such that, etcd data directory revision is always greater than equal to latest snapshot.

[2018-11-20 18:16] #65 closed

[2018-11-22 05:31] swapnilgm commented on #38
Fixed via #69

[2018-11-22 05:31] #38 closed

[2018-11-22 10:40] swapnilgm opened #70 "Add mock tests for different cloud providers"
Currently, Swift, GCS, ABS snapstore doesn't have any unit test. So, add mock client to perform unit test for
- [x] swift
- [ ] GCS
- [x] ABS

- [ ] Use these mock clients to adopt the existing unit tests from s3 snapstore.
- [ ] Add erroneous case as well in mock client.

[2018-11-23 14:04] swapnilgm opened #71 "Improve DB file verification time"
As the etcd DB size grows to around ~1GB, DB file validation takes time in 3-5 minutes. Need to analyse this; and improve the time for verification of DB file. Also, check the effect of IOPS on time as well.

__Environment__:
Etcd version: 3.3.10
Etcd-backup-restore version: 0.3.1

[2018-11-23 14:28] swapnilgm opened #72 "Etcd restarts with error under heavy load"
Scenario is, Etcd is deployed as statefulset along with backup-sidecar. We hit etcd with `benchmark` tool to generate heavy load and checked for performance. The etcd goes for restart with following error
[code]

__Benchmark tool command__
[code]

 __Observations till now__
- etcd restarted only when heavy load is applied.
- removing etcd data directory which lead to restoration, and then triggeri

[2018-11-24 15:30] amshuman-kr commented on #71
Worst-case, we might want to rethink whether we need to validate on every restart.

From: Swapnil Mhamane <notifications@github.com>
Reply-To: gardener/etcd-backup-restore <reply@reply.github.com>
Date: Friday, 23 November 2018 at 7:34 PM
To: gardener/etcd-backup-restore <etcd-backup-restore@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [gardener/etcd-backup-restore]

[2018-11-24 18:18] vlerenc commented on #71
Right, that was what I was thinking/fearing as well. If it cannot be avoided, maybe we can skip it at least when etcd was properly shut down (where it is the least likely that something breaks), which would speed up regular scenarios significantly, e.g. when the control plane is updated or the seed is rolled. That should actually be possible to implement: Write a marker and keep it unless the proc

[2018-11-24 18:51] amshuman-kr commented on #71
If I am not mistaken, we already found that the time taken for verification is proportionate to the size of the database.

So, from my perspective, trying to optimize the actual verification process is just delaying the inevitable.

Only workable long term solution is to avoid unnecessary verification.

[2018-11-26 09:26] amshuman-kr opened #73 "Negative tests for single-node backup restoration"
The tests should cover the following scenarios.

- [ ] Parallel backups (full and delta)
  - [ ] If backups are already being taken when restoration starts, then the backups should be stopped, discarded and any future scheduling of the backups should be suspended until after restoration.
  - [ ] If backups start while restoration is in progress then such backups should fail and should not be retri

[2018-11-28 10:39] swapnilgm opened #74 "Update Azure sdk path to github.com/Azure/azure-storage-blob-go"
Since Old azure SDK import path [github.com/Azure/azure-sdk-for-go/storage](https://github.com/Azure/azure-sdk-for-go/tree/master/storage) that we are using is going to be deprecated. We have to update SDK import path accordingly.

[2018-11-28 11:36] georgekuruvillak commented on #71
We should do a sanity check(#67). Then start etcd if it passes. On etcd crash, we can try to perform a data validation check and then do a restore if needed. Basically inverting the flow we have at the moment.

[2018-11-29 06:17] swapnilgm commented on #72
I was not able to reproduce the issue for on different cluster. Though I accept that I observed this issue for statefulset used by @nikhilsap. I suspected that this could be issue with etcd version 3.3.10. And modified that statefulset to check if i'm able to reproduce same issue for etcd version 3.3.9. But etcd ran fine without any error. I changed back the etcd version to 3.3.10 and ran the benc

[2018-11-30 21:51] mvladev opened #78 "Simplify etcd sidecar setup"
At the moment the `etcdbrctl` is deployed as a side-car container: https://github.com/gardener/etcd-backup-restore/blob/3cbb0bada663641c21184641c09737523be20337/example/etcd-statefulset-aws.yaml#L91-L102

and forcing the client (the main container) to execute several rest calls to the running server: https://github.com/gardener/etcd-backup-restore/blob/3cbb0bada663641c21184641c09737523be20337/exam

[2018-11-30 21:56] mvladev commented on #78
/cc @swapnilgm @vlerenc

[2018-12-01 04:58] amshuman-kr commented on #78
The main reason for not doing this in the first place was to avoid building a custom image that needs to track the upstream etcd releases.

[2018-12-02 07:58] amshuman-kr commented on #78
@mvladev Yes, I understand. Or install etcd into the etcdbrctl container using init-containers or some bootstrap scripts. But I installing binaries out of the docker image makes me nervous.

Besides, the real problems we currently face seems to be due to the unnecessary linking of restoration and verification with restart of etcd containers. The above approach would not address that problem.

I th

[2018-12-02 17:37] swapnilgm commented on #78
@mvladev We had thought of init container approach earlier and discarded because of the  reasons mentioned by Amshu. Though I agree solution might not look ugly without REST api communication, just to add one more point to argument, aren't we going back to legacy vm based process deployment approach where we used to combine multiple process together in process tree.
As far as REST communication is

[2018-12-03 18:19] hoeltcl opened #79 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2018-12-04 08:31] swapnilgm commented on #72
As discussed with Nikhil and Kesavan. They are not able to reproduce issue.

Feel free to open again if similar behaviour is observed.

[2018-12-04 08:31] #72 closed

[2018-12-05 05:03] #74 closed

[2018-12-11 08:28] amshuman-kr opened #81 "Parameter to limit maximum number of delta changes before a delta snapshot is triggered"
### Problem
The frequency of delta snapshots is only controlled by the parameter [`delta-snapshot-period-seconds`](https://github.com/gardener/etcd-backup-restore/blob/master/cmd/snapshot.go#L95).
In case of very frequent changes to ETCD, a large number of changes might be accumulated before the next delta snapshot is triggered according to the configured `delta-snapshot-period-seconds`.

Since, t

[2018-12-11 12:34] ThormaehlenFred opened #83 "etcd Backup Strong Encryption and Encryption Key Management"
**etcd Backup Strong Encryption**
Please encrypt sensitive data when stored persistently. When sensitive data is stored persistently, for example in files, it needs to be protected from unauthorized access. (If access control cannot be fully enforced where the storage takes place and) as a second line of defense against access control failures and loss of data confidentiality, the data shall be st

[2018-12-12 06:43] swapnilgm commented on #81
having limit on memory consumed rather than count of events make more sense to me. So, I have raised PR #84 for the same. You can have look at it. I found its not that hard to compute memory consumption with each event. Best solution I could found is to convert event into Json and get size of entire struct. I could actually traverse the struct and sum up only key value size but that would miss the

[2018-12-20 14:16] bergerx opened #87 "disabling TLS support in the chart is tricky"
We previously discussed about using the `tls` field as a toggle to turn on/off the tls support in https://github.com/gardener/etcd-backup-restore/pull/59#discussion_r225188772

Now while we're moving from our internal chart to this one, we realised disabling TLS is quite tricky. Given that helm will merge dictionaries, that actually makes it hard to simply remove a field inside an override file:
h

[2018-12-21 09:24] #81 closed, assigned to swapnilgm

[2018-12-21 11:12] swapnilgm commented on #87
Same here, tried similar command. Agree i would also prefer 2nd options.

In addition, I was again going through the helm chart standards as mentioned [here](https://github.com/helm/charts/blob/master/CONTRIBUTING.md#technical-requirements). And hence i was also thinking of removing dependancy on external action for creating those secret.  So, add tls secret as a part of template and have tls sect

[2018-12-21 17:07] bergerx commented on #87
Agreed, i also started looking into this and eventually found myself replacing the labels with the ones that sig-app decided, which are covered here: https://docs.helm.sh/chart_best_practices/#standard-labels

I think better if we go over the whole chart_best_practices as described in the helm docs and update the chart.

[2018-12-31 06:30] swapnilgm commented on #63
Closing this in favour of #73.

[2019-01-03 14:19] bergerx opened #91 "etcd-backup-restore restored the oldest log rather then the most recent"
Recently we deleted the PV of a misbehaving etcd-main of a shoot.

Here are the list of backups of the shoot:
[code]

When etcd-main pod is started next time, it restored the `Backup-1535155202` which is from 2018-08-25-01:00:02 and actually is the oldest backup:
[code]

[2019-01-03 15:22] swapnilgm commented on #91
Yes you were rihgt. It ideally should restore from newest backup. I assume it is with version 0.3.x. Correct me if i'm wrong? Though we never faced this issue in real time. But found it while refactoring code for testing purpose.  The fix is already in 0.4.0 : https://github.com/gardener/etcd-backup-restore/commit/4706e5e5637994707e7c248ec939cb191ec73d50#diff-79cec408ddcc5fca2b1cacb68cdf8d32L97

E

[2019-01-04 15:01] #70 closed

[2019-01-08 10:47] nikhilsap opened #92 "Etcd liveness and readiness probe failed before Delta snapshot"
While doing load test on Etcd, we observed that , ETCD is going for restart after a work load and before the scheduled delta snapshot.

In Pod details, it shows "Liveness Probe failed" and "Readiness Probe Failed" as shown below.

![image](https://user-images.githubusercontent.com/41104107/50825717-bb7f1700-135f-11e9-8905-7a7f33742db6.png)

Following is the pod status :
![image](https://user-image

[2019-01-08 10:48] nikhilsap commented on #92
/assign @swapnilgm

[2019-01-09 06:02] #78 closed

[2019-01-17 04:36] swapnilgm commented on #92
#### Update to original issue statement :
After discussion with @nikhilsap, i got to know that,  the issue was observed only on etcd-backup-restore image with following patch post metrics api implementation PR #90 . i.e. When golang garbage collection trace is enabled and garbage collection value is set to 50%.

[code]

#### Action taken:
I am not able to reproduce the issue on my side. Tried with

[2019-01-18 07:43] swapnilgm opened #94 "Add options to disable delta snpashots"
For performance testing, we want to do the tests without any possible effects from delta snapshots or watch mechanism we use. So, there is a need for a configurable parameter to disable delta snapshots. Currently we correct delta snapshot time interval less than 1  to 1 seconds in code with warning log. We should change this behaviour and use that check to disable delta snapshot and watch.

[2019-01-18 09:53] swapnilgm commented on #94
cc @PoojaGidaveer

[2019-01-18 11:55] PoojaGidaveer opened #95 "High memory consumption by etcd backup during full snapshots"
During load test on etcd, when the full snapshot happens, where full snapshot interval was set to 10mins and delta snapshot interval was set to 5mins, memory consumption by etcd backup sidecar was too high and shoots up after subsequent backup.

Our Observation - Just for taking backup of 250mb of db size, etcd backup sidecar is consuming 2GB of memory whereas etcd consumes 475mb of memory.

From

[2019-01-18 11:56] PoojaGidaveer commented on #95
/assign @swapnilgm  @amshuman-kr

[2019-01-23 09:22] #63 closed

[2019-01-24 05:46] PadmaB opened #97 "Raise appropriate alerts based on the backup-restore metrics"
# Story
As a provider I want timely alerts raised based on the backup&restore metrics to take informed decisions

# Motivation
- A number of metrics are exposed to improve the monitoring of backup-restore functionality #66
- Defining some alerts based on the metrics will help the Ops to react in a timely manner, in case of any action required - for example missing backups or corrupt/restored etcd

[2019-01-24 06:36] PoojaGidaveer opened #98 "Db is getting restored but not getting merged with original db."
Incase of ETCD, When the db is crashed, the restoration happens from previous backup but into different folder /var/etcd/data/new.etcd/member/snap instead of the main db folder- /var/etcd/data/member/snap.

Later we observed that this folder is not being merged into db folder. During the next backup cycle, it  is taken only  from /var/etcd/data/member/snap . So, the restored data  (/var/etcd/data/

[2019-01-24 06:36] PoojaGidaveer commented on #98
/assign @swapnilgm @georgekuruvilla

[2019-01-24 06:46] swapnilgm commented on #98
This is expected behaviour. If i'm correct you might be passing data-dir to etcd as `/var/etcd/data` and to etcd-backup-restore as `/var/etcd/data/new.etcd`. etcd-backup-restore asks snapshot from etcd which will eventually read from `/var/etcd/data` . While restoring etcd-backup-restore  will restore to data directory parameter passed to it i.e. `/var/etcd/data/new.etcd`. Please set the both valu

[2019-01-24 06:46] #98 closed

[2019-01-24 08:41] #94 closed

[2019-01-28 13:57] ThormaehlenFred opened #101 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-01-29 09:37] nikhilsap opened #102 "Possible memory leak by Backup sidecar during delta snapshot"
We did few performance based test in the cluster, we noticed memory consumption by backup side car during Delta snapshot is more.
Even after delta snapshot, memory usage is high and it is not coming down.

![image](https://user-images.githubusercontent.com/41104107/51895895-425c6800-23d1-11e9-93ee-03759502e07e.png)

Here in this case,
We have loaded the db using benchmark tool. The DB size was 512

[2019-01-29 10:06] nikhilsap opened #103 "Restoration of higher db size takes more time and etcd restarts 5-6 times"
As a part of performance test, we tried to restore backup of 2gb , etcd container went for 5-6 restarts and it restored the data.
It took around 4-5 mins to restore the data after 5-6 restarts.
We checked the memory consumption also, it is not going for OOM.

[2019-01-29 10:18] nikhilsap commented on #95
We did a performance test where backup sidecar takes only full snapshot.
we were able to see a sudden rise in memory consumption of backup side car during the full snapshot.

![image](https://user-images.githubusercontent.com/41104107/51901080-d7b12980-23dc-11e9-9b62-f76783f0852b.png)

Here we have trigger load around 19:57 for 1 gb of DB size. We can see that during full snapshot at 20.00 , there

[2019-01-29 10:20] nikhilsap commented on #103
/assign @swapnilgm @amshuman-kr

[2019-01-29 17:20] PadmaB opened #104 "Negative tests for single-node ETCD backup restore"

[2019-01-29 19:20] swapnilgm commented on #102
@nikhilsap  Willl you please mention the etcd-backup-restore version or commit id  on which you observed the issue?

[2019-01-29 19:39] swapnilgm commented on #103
Restoration time is dependent on DB/backup size and network speed. And since restoration is ongoing process, etcd-backup-restore health status will be false. For etcd container the liveness probe check the `/healthz` endpoint of etcd-backup-restore sidecar. This is by design. So, in all higher the db size/ lower network speed -> restoration will be longer -> `/healthz` endpint will return `false`

[2019-01-30 04:36] amshuman-kr commented on #103
@swapnilgm This seems to be an undesirable behaviour. We can pick it up on a lower priority. But it is a genuine issue, I think.

[2019-01-30 06:41] swapnilgm commented on #103
@amshuman-kr May be you guys had detailed discussion around this. And if my comment above don't address the issue then probably i didn't understood the core issue.  Probably, the description of issue provided in issue need to be elaborated more then. Anyways, i'll reopen the issue for the further discussion.

[2019-01-30 07:05] nikhilsap commented on #102
@swapnilgm i have updated the issue with etcd-backup-restore version.

[2019-01-30 10:06] amshuman-kr commented on #103
@swapnilgm There was no separate discussion as such. I just think that etcd container restarting multiple times if restoration takes time is not nice. If it happens too many times it might even end up going into crashloopbackoff. That would not be nice at all. WDYT?

[2019-01-30 12:10] swapnilgm commented on #103
Thanks Amshu for triggering discussion again. That help me found out  a correction to above explanation. `livenessProbe` is on etcd i.e. `etcdctl get foo`.
 So, by design , in all higher db size/ lower network speed scenario-> restoration will be longer -> etcd fails to bootstrap -> liveness probe on etcd container will fail -> etcd restarts.

Now coming back to next point regarding `CrashLoopback

[2019-01-31 04:39] amshuman-kr commented on #103
So, by design , in all higher db size/ lower network speed scenario-> restoration will be longer -> etcd fails to bootstrap -> liveness probe on etcd container will fail -> etcd restarts.

Understood. This is all due to the coupling of restoration with restart.

Agreed. But it is not nice to have the `etcd` container potentially going into `CrashLoopbackoff` for slower restores by design. If we de

[2019-01-31 05:54] shreyas-s-rao commented on #103
Yes Amshu, there is a chance for a potential `CrashLoopBackOff`. We'll see if we can improve our restart-restoration logic to avoid decoupling.

The issue we faced was not necessarily because verification took too long, but because of a shortage of memory. Nonetheless, the backup itself is 1.5GB, so even if verification happens quickly (given enough memory), the restoration will take time, so we c

[2019-02-01 10:00] PadmaB opened #107 "Integrate etcd tests with TestMachinery"
# Story
As etcd backup-restore developer I want to integrate the existing tests with the TestMachinery to run the tests in an integrated environment and also be able automate the same

# Motivation
TestMachinery provides a robust test environment, automates cluster creation and such operations making it is easy for developers to run their tests in an integrated environment, publishing the results.

[2019-02-04 04:31] PadmaB opened #109 "Observe and record results for the PUT calls in large clusters"
# Story

# Motivation

# Acceptance  Criteria

[2019-02-04 04:31] PadmaB commented on #64
#109

[2019-02-04 04:33] PadmaB commented on #109
#64

[2019-02-04 04:45] PadmaB opened #110 "Observe and record results for the WATCH calls in large clusters"
# Story

# Motivation

# Acceptance  Criteria

[2019-02-04 04:48] PadmaB opened #111 "Observe and record results for the GET calls in large clusters"
# Story

# Motivation

# Acceptance  Criteria

[2019-02-04 04:56] PadmaB opened #112 "Observe and record results for the DELETE calls in large clusters"
# Story

# Motivation

# Acceptance  Criteria

[2019-02-05 12:58] hoeltcl commented on #101
This issue must be resolved until **January 8th 2019** latest. Please contact [ThormaehlenFred ](https://github.com/ThormaehlenFred) or [hoeltcl ](https://github.wdf.sap.corp/hoeltcl)if not already done.

[2019-02-07 02:36] shreyas-s-rao commented on #101
@ThormaehlenFred @hoeltcl  All findings have been addressed by us now in the Checkmarx tool, and will be closing this issue.

[2019-02-07 02:36] #101 closed

[2019-02-08 03:45] PadmaB opened #113 "Expose API to trigger full snapshot"
# Story
As a developer, I want to be able to trigger a full snapshot of etcd, on demand. Triggering via the API should be controlled via a flag

# Motivation
The feature will be handy to run certain tests in the CI/CD pipeline, not having to wait for the scheduled time. Controlling the schedule for triggering the full snapshot is not always an option.

# Acceptance Criteria
- [ ] Should be able to

[2019-02-08 04:40] PadmaB opened #114 "Expose an API to trigger delta snapshot"
# Story
As a developer, I want to be able to trigger a delta snapshot of etcd, on demand. Triggering via the API should be controlled via a flag

# Motivation
The feature will be handy to run certain tests in the CI/CD pipeline, not having to wait for the scheduled time. Controlling the schedule for triggering the delta snapshot is not always an option.

# Acceptance Criteria
- [ ] Should be able

[2019-02-10 21:22] bergerx opened #115 "[BUG] etcd container in etcd-main-0 pod stucks with OOMKilled status on Azure"
**Describe the bug:**
We had etcd OOMKilled in Azure until manually fixed. During the issue the Shoot's apiserver is not accessible due to unhealthy etcd.
Etcd can't recover itselfs unless an operator steps in and manually, our current solution is to manually delete all nodes from Azure Portal.

**Expected behaviour:**
Etcd should auto recover itself from such issues.

**How To Reproduce (as minim

[2019-02-11 05:08] amshuman-kr commented on #115
@bergerx Thanks for opening issue. The information here will help us.

I have one question about the DB size is shown as ~190MiB whereas the Volume used Bytes is ~1.5GiB. Can you help me understand that difference?

We have seen these kind issues before when the data size grows to 1.5 to 2GiB but not for data sizes around 200MiB.

[2019-02-11 09:49] fsniper commented on #115
We are running https://github.com/gardener/etcd-backup-restore as a sidecar in our etcd deployment. So the extra disk is used by etcd-backup-restore.

Disk usage is as follows:

[code]

[2019-02-11 09:50] fsniper commented on #115
temp directory:
[code]

[2019-02-11 09:50] swapnilgm commented on #115
Just FYI, I was referring to issue https://github.com/grpc/grpc-go/issues/2444 in slack conversation. Not sure weather this has to do something with this, But I will just cross check, if it is happening with configuration for etcd deployed by gardener. And is there possibility for some data intensive workload (like large configmaps or secrets) causing such etcd leak memory and get OOM killed.

[2019-02-11 09:52] swapnilgm commented on #115
Thanks @fsniper for the details, looks like temporary files created by backup-restrore  sidecar are not cleared, probably in case of restart. I'll cross check that part as well.

[2019-02-11 10:33] fsniper commented on #115
@swapnilgm I can't see any "grpc: received message larger than max" errors in our logs. I am not sure if this eliminates the aforemantioned grpc bug.

[2019-02-11 11:47] swapnilgm commented on #115
Ah ok. Thanks for info.  I'll take that in consideration.

[2019-02-12 12:45] praveendhac commented on #115
Saw the issue again, there was no workload on shoots.

[2019-02-13 04:41] amshuman-kr commented on #115
@praveendhac Could you please share some more information about your error scenario? For example, was there workload before on this shoot. The memory issue during database verification could be still in effect even if there is no workload at the moment.

[2019-02-13 05:08] amshuman-kr commented on #115
The grpc-go issue seems to have been [fixed](https://github.com/grpc/grpc-go/issues/2444#issuecomment-462575474) yesterday.

[2019-02-13 09:15] bergerx commented on #115
I'm not sure that bug is the one that's effecting us. In our env, none of the instances of our problem had a slowly increasing memory on etcd container before getting OOMKilled. So our pattern doesnt seem to match the one reported in that issue.

We actually never be able to catch a metric data point that shows increased etcd container memory, we only see that the container is reported to be termi

[2019-02-13 09:21] bergerx commented on #115
From: @amshuman-kr

For this one, i checked the log on a recent one and wasn't able to see a correlation you can see all related logs in the timeline in the description of this issue, they doesnt seem to corelate. But now i guess we have a broken test cluster that we didnt fix yet, maybe we @praveendhac can share the logs of both etcd and backup-restore container at the time when this problem happ

[2019-02-13 09:30] bergerx commented on #115
from @swapnilgm :

I was cheking the previous conversations and this one just caught my attention, and actually we could have pretty big ConfigMaps. I guess we have Grafana dashboards in ConfigMaps and they could be be big, I don't have access to my computer now, but I'll check this shortly. Even if this is the this still doesnt tell why deleting nodes is helping, but could give use some clue for

[2019-02-13 11:49] praveendhac commented on #115
@amshuman-kr We hit the issue of `etcd OOMKilled` on a idle cluster with no workload, when etcd recovers API server pod goes into `CrashLoopBackoff` state. When API server pod is deleted `etcd-main` crashes with OOMKilled, before crash I am seeing lots of range requests for keys around ~20MB in size (may be large Configmaps).

As per https://github.com/etcd-io/etcd/blob/master/Documentation/dev-gu

[2019-02-13 12:27] databus23 commented on #102
We are seeing quite a lot of backup container (version 0.4.1) constantly hitting their memory limit in CCEE. The usage graph seems to suggest its some sort of memory leak:
![image](https://user-images.githubusercontent.com/439223/52711817-11fcf800-2f93-11e9-91bf-98da3341f068.png)

[2019-02-14 15:53] amshuman-kr commented on #102
@databus23's [PR#116](https://github.com/gardener/etcd-backup-restore/pull/116) seems to have nailed it. 🥇👏

A comparison is below.
1. [https://github.com/gardener/etcd-backup-restore/tree/master/head](https://github.com/gardener/etcd-backup-restore/commit/b173f994ce8b1a3c9e3f97c049d2cf3b5c887658)
<img width="1241" alt="gcvis-only-delta-master" src="https://user-images.githubusercontent.com/321572

[2019-02-15 04:46] amshuman-kr commented on #102
As a follow up, there is still a problem with full snapshot. It is not a leak anymore but full snapshot seems to require memory proportionate to the database size. See below. The spikes (at least the first two) seem to be from full snapshots. The measurement was done on @databus23's [PR#116](https://github.com/gardener/etcd-backup-restore/pull/116) as of [https://github.com/databus23/etcd-backup-r

[2019-02-15 05:04] amshuman-kr commented on #115
The fix for #102 in #116 might have an implication here too. See [here](https://github.com/gardener/etcd-backup-restore/issues/102#issuecomment-463679537).

The issue there was that the watchers for the delta snapshots were not closed properly which resulted in the watches and the `grpc` streams to be not cleaned up. This might potentially have an impact on the `etcd` container as well because of

[2019-02-15 07:25] amshuman-kr opened #117 "[Feature] Automated tests for performance regression"
**Feature (What you would like to be added):**
We should add automated tests to check for performance regression at least before every release if not during every build.

**Motivation (Why is this needed?):**
Catch issues like #102 and #115 as early as possibe.

**Approach/Hint to the implement solution (optional):**
With the memory leak fixed in #116, the memory usage is predictable again.

A sim

[2019-02-15 08:54] nikhilsap commented on #102
We used PR https://github.com/gardener/etcd-backup-restore/pull/116 to check the memory consumption by etcd during snapshots.

we tried with 2 different DB sizes. (512mb and 2gb)

**Case 1 : 512 mb**

![image](https://user-images.githubusercontent.com/41104107/52844902-b9149780-312b-11e9-81e7-7a9945619e92.png)

Here we can see, during delta snapshot memory consumption is there , but soon after the

[2019-02-19 03:41] PadmaB opened #120 "Memory optimizations during data verification"
# Improvement
Improve memory consumption during data verification

# Definition of Done
- [ ] Knowledge is distributed: Have you spread your knowledge in pair programming/code review?
- [ ] Unit tests are provided: Have you written automated unit tests?
- [ ] Integration tests are provided: Have you written automated integration tests?
- [ ] Minimum API exposure: If you have added/changed public A

[2019-02-19 03:42] PadmaB opened #121 "Memory optimizations during data restoration"
# Improvement
Improve memory consumption during data restoration

# Definition of Done
- [ ] Knowledge is distributed: Have you spread your knowledge in pair programming/code review?
- [ ] Unit tests are provided: Have you written automated unit tests?
- [ ] Integration tests are provided: Have you written automated integration tests?
- [ ] Minimum API exposure: If you have added/changed public AP

[2019-02-19 12:51] swapnilgm opened #124 "[Tests] Add test for empty storage provider"
**Feature (What you would like to be added):**
We need to update the tests when for the case when etcd-backup-restore is configured to have no storage provider for backups.

**Motivation (Why is this needed?):**
Etcd-backup-restore component is mainly used by gardener for deployment of etcd-main and etcd-events pod backing hosted kubernetes cluster. For etcd-events, we configure etcd-backup-restor

[2019-02-19 12:57] swapnilgm opened #125 "[Tests] Optimise the tests"
**Feature (What you would like to be added):**
Create scalable and reusable test framework for testing. Optimise the time consumed for running all the tests.

**Motivation (Why is this needed?):**
Currently, we have duplicate code used for setting up environment like bootstrapping etcd or pushing test specific data to etcd. Now its causing extra time consumption while running tests. We are not abl

[2019-02-21 05:07] swapnilgm commented on #92
@nikhilsap Will you please try to reproduce it with 0.5.1 image. If not i'll close the issue.

[2019-02-21 12:58] nikhilsap commented on #92
@swapnilgm Image 0.5.1 works like charm. I didnt find this error anymore.

So Closing it

[2019-02-21 12:58] #92 closed

[2019-02-22 04:41] shreyas-s-rao commented on #120
The `ReadAll()` function exposed by the WAL package by etcd is the only way, at present, to read through the contents of the wal logs. The function returns the entire contents of the wal back to the caller in-memory, as an array. This makes the memory consumption proportionate to the wal size itself, and is undesirable.

Our use case (wal content verification) does not require us to fetch the cont

[2019-02-22 05:35] PadmaB opened #129 "VPA for etcd backup and restore"
# Story
As an administrator, I would like to use the recommendations of VPA to scale ETCD to be able to manage larger Kubernetes Clusters

# Acceptance Criteria
- [ ] Observe the recommendations from VPA to scale ETCD and side car components
- [ ] Integrate relevant recommendations into ETCD and side car components

[2019-02-22 05:58] PadmaB opened #130 "Expose VPA recommendations as Prometheus metrics"
# Story
As an operator, I would like to expose the recommendations from VPA for etcd backup and side car as prometheus metrics

# Motivation
Run the VPA in the "Off" mode and observe its recommendations for a certain period of time and compare with the actual resource usage before actually applying those recommendations.
However, at the moment there is no way to expose the recommendations as prome

[2019-02-22 10:23] shreyas-s-rao commented on #120
I have raised an issue on the upstream etcd repo at https://github.com/etcd-io/etcd/issues/10497 regarding the feature request for a `wal.Verify()` function.

[2019-02-28 10:35] #102 closed

[2019-03-06 15:37] rfranzke commented on #61
Hey guys,
is the compaction still not planned? We take an incremental snapshot every 5 minutes, so for one day we will end up with 288 incremental snapshots (~10 MB). If you now try to restore this it will take ~30-45min which is totally impracticable. We will not be able to implement a control plane move to other seeds if we have these huge restore times.

So, please think about compacting the in

[2019-03-07 07:41] amshuman-kr commented on #61
Yes. This is needed.

[2019-03-07 09:08] amshuman-kr commented on #61
We had listed 4 topics for optimization for etcd-backup-restore.

1. Delta snapshot - Completed (except for the large value case)
1. Full snapshot - Completed
1. Database verification - on going
1. Database restoration - next up

I think that this requirement for compaction of delta snapshots comes under the database restoration optimisation and should be picked along with it. We can even pick it

[2019-03-08 10:08] shreyas-s-rao opened #133 "[BUG] Need to pass etcd configuration to embedded etcd during restoration"
It is required to pass etcd flag `quota-backend-bytes` to the embedded etcd that is started during restoration for applying delta snapshots. Not doing so causes a `database space exceeded` error when restoring a large etcd which contains delta snapshots.

[2019-03-12 12:11] #133 closed

[2019-03-12 12:21] marwinski commented on #83
We will enable etcd secret encryption (https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/) so I believe that having an encrypted etcd EBS volume is not necessary. We need to ensure however that the snapshots and full backups are encrypted.

[2019-03-14 05:24] shreyas-s-rao commented on #120
I had raised a PR on upstream etcd (https://github.com/etcd-io/etcd/pull/10516) and it has now been merged. Still waiting for an update on how and when the feature will be added to a release/patch. Hoping it will be part of v3.3.13 (next patch version).

[2019-03-22 05:21] #71 closed

[2019-03-25 05:02] PadmaB opened #140 "[Improvement]Randomize the schedule of full-snapshot"
# Improvement
Randomize the schedule for the full-snapshot of etcd control plane component for both shoot and seed clusters

# Motivation
Currently, the full snapshot for all the clusters is scheduled at midnight which adds to load. It will be more efficient if this load can be distributed across time and clusters with a randomize schedule

# Options
- Schedule 2-3 hrs before the maintenance windo

[2019-03-25 05:32] PadmaB opened #141 "[Improvement] Shared bucket for etcd backup for the clusters"
# Improvement
As an operator, I would like to efficiently use the backup bucket for multiple clusters, thereby limiting the total number of buckets required.

# Motivation
Currently, every shoot cluster has its own etcd backup bucket with a centrally configured retention period. With the growing number of clusters, we are soon running out of the quota limits of buckets on the cloud provider. Moreo

[2019-03-25 08:59] PadmaB opened #142 "[Improvement] Switch to Storage Class to SSD from the default"
# Improvement
As an operator for better IOPS and throughput, I would like to the storageclass to SSD instead of the default type.
**Note:** The switch should ensure minimal downtime.

# Options
[ ] Use SSD as the default StorageClass for the Seed Clusters
[ ] Use SSD as the default StorageClass for the Shoot Clusters or make it configurable allowing the consumers to make their choice [can be picke

[2019-04-01 05:33] PadmaB opened #144 "Deploy VPA for etcd backup and restore"
# Story
As an administrator, I would like to deploy VPA for etcd-backup-restore and make use of its recommendations to be able to manage larger clusters

# Tasks
- [x] Deploy VPA for ETCD with the updater set to 'off' mode
- [x] Create the necessary grafana dashboard showing actual vs recommended metrics
- [ ] Based on the observation, switch the VPA Updater to mode 'initial'

# Acceptance Criteri

[2019-04-01 05:58] PadmaB opened #145 "Change the operation mode of VPA for etcd-backup-restore"
# Task
Based on the observations of the VPA-exporter [recommendations for VPA], switch the operation mode of the VPA to initial

# Acceptance Criteria
- [ ] Use the recommendations of VPA for etcd-backup-restore and scale accordingly

[2019-04-03 02:08] vlerenc commented on #83
Do we know whether we can do the encryption on-the-fly or do we need larger ETCD disks, because we need to keep a local copy of the data or encrypted data before we can upload it in parallel chunks?

[2019-04-03 07:29] swapnilgm commented on #83
Currently we use multi-chunk upload logic with store-and-forward.  So, currently expected disk size is twice the supported DB size.

With encryption, i assume we will go for block cipher mostly AES-GCM.  The term on-the-fly here has two use cases.
If we interpret on-the-fly as streaming encryption, then AFAIK, for block cipher encryption can't be done in streaming way entirely, So, whole data need

[2019-04-04 01:15] amshuman-kr commented on #83
Hi Swapnil,

An alternative to avoid 3 times db size, could be if we encrypt on the fly while writing the snapshot to the disk in the first place. Then we would need only twice the size like now. WDYT?

Regards,
Amshu

On 03-Apr-2019 13:00, Swapnil Mhamane <notifications@github.com> wrote:

Currently we use multi-chunk upload logic with store-and-forward. So, currently expected disk size is twice

[2019-04-04 02:31] vlerenc commented on #83
I don't know whether I can follow. I assume, we can and will hold a chunk in memory (encrypt + upload and download + decrypt). We anyways limit ourselves to 5 or so chunks to not become a noisy neighbour to ETCD itself and we can keep these few chunks in memory, right? In that case, even if upload or download fails, we retry until it succeeds. So why would we need three times the space?

[2019-04-04 04:46] swapnilgm commented on #83
@amshuman-kr

 No. I think its not that straight forward and will hit back from performance point of view. Two points here:
1. Encryption will add to the time.  And etcd snapshot request will take time.
2. As I said earlier for block cipher, one can't do streaming encryption. So, one kind of complex logic, i can think of there is
  - open snapshot reader on etcd using api call
  - read snapshot da

[2019-04-04 04:56] shreyas-s-rao commented on #83
@amshuman-kr By this, you mean to encrypt each chunk before writing it to disk itself right? That would mean we would be discarding the chunk but persisting the encrypted chunk, which definitely helps reduce the footprint on disk. And because there is always a possibility that encryption step might fail, we'll have to keep the chunk in memory until we successfully write the encrypted chunk onto di

[2019-04-04 05:05] swapnilgm commented on #83
@vlerenc

When we say its streaming API for chunk, like with current chunk upload, entire chunk upload is happening using at IO level and hence chunk upload is not contributing to memory.   Now, if we load the chunk in memory and encrypt it will add on to memory. Its not about noisy neighbour here, but then memory usage will increase to *noofchunks under process * chunk size*. This will add on to

[2019-04-04 05:16] swapnilgm commented on #83
Please check comment: https://github.com/gardener/etcd-backup-restore/issues/83#issuecomment-479748253

Please check comment https://github.com/gardener/etcd-backup-restore/issues/83#issuecomment-479751327

[2019-04-04 05:28] amshuman-kr commented on #83
Let me clarify terminology, because I myself am confused by the above discussion.

* Chunking
  1. Multi-part chunking to manage networking issues while upload large snapshot files to the blobstore. This may not be relevant for encryption. These chunks will be still too large to be kept in memory while encrypting.
  1. Chunking the stream of unencrypted bytes to enable stream encryption. I think,

[2019-04-04 08:14] amshuman-kr commented on #83
@swapnilgm  From [above](https://github.com/gardener/etcd-backup-restore/issues/83#issuecomment-479755427), I would prefer to couple the chunk size in upload to the chunk size. This means that the upload chunk size would be independent of the chunk size for encryption. This makes some sort of on-the-fly (in terms of the physical encrypted file and not in terms of why such encryption is achieved) m

[2019-04-04 08:17] amshuman-kr commented on #83
Now to the on-the-fly encryption part. I think there are at least 3 ways to do this. I found [this](https://www.reddit.com/r/golang/comments/87wcik/how_do_you_encrypt_large_ioreader_streams/) helpful.

1. https://golang.org/pkg/crypto/cipher/#example_StreamWriter. Checksum would have to be implemented.
1. A custom streaming using https://github.com/golang/go/blob/master/src/crypto/cipher/gcm.go#L1

[2019-04-04 09:08] swapnilgm commented on #83
Just to clarify further on terminology, here onwards i'll use
__chunk__ : chunk in multi-part upload of chunk; chunk size is  dynamic w.r.t. backup size and cloud provider support.
__block__ : block or chunk used in block cipher encryption.  Block size is constant Commonly 256bit=32byte

Now regarding on-the-fly encryption, please don't misunderstand me that i'm completely against it. I was puttin

[2019-04-04 09:48] amshuman-kr commented on #83
To be clear, let us not a decision without doing due diligence. It would be good to know what is the performance impact.

From the cost perspective, on the first look, if we decide to go with gp2, then it might look like both options (inline as well as different file) options are available to us. Otherwise, we might have to worry more about storage optimisation.

However, we have to take into acco

[2019-04-05 15:50] marwinski commented on #83
Sorry for the delay contributing here. I cannot really comment on the best way of doing the encryption but need to mention one important aspect: please do not copy the database (snapshot) to the target location, encrypt it and the delete the unencrypted one - it will probably remain there. If the "in memory" encryption does not work (although my gut feeling tells me that it should) encrypt in the

[2019-04-16 11:19] shreyas-s-rao commented on #83
After preliminary evaluation of four approaches:
- on-the-fly encryption with store-and-decrypt
- store-and-forward encryption with store-and-decrypt
- minio's chunk encryption with on-the-fly decryption (https://github.com/minio/sio)
- minio's chunk encryption with store-and-decrypt

I have arrived at a few advantages and disadvantages for each of them:
- `on-the-fly encryption` using the crypto

[2019-04-16 13:16] vlerenc commented on #83
If we need more disk space, let's incorporate that in the new ETCD disk sizes. Luckily, we anyways picked larger disks for AWS and Azure. Let's now also go for slightly larger disks for Aliyun and GCP. 25 or 30 GB are also OK.

As for the optimisation, just the general remark that we cannot use any solution that needs to load everything into main memory and that we need to optimise for encryption

[2019-04-17 04:17] amshuman-kr commented on #83
According to quick measurements from @shreyas-s-rao it looks like the overhead on encryption (in-flight) is minimal, especially on CPU utilisation and I am confident we can get the memory overhead to be minimal and O(1).

However, the decryption latency seems to be quite large for in-flight as compared to a download followed by decryption approach. This could be due to the choice of the algorithm

[2019-04-17 04:25] PadmaB opened #147 "[Improvement] Prevent eviction of etcd during scaling by Cluster Autoscaler"
# Improvement
Prevent eviction of etcd during scaling by Cluster Autoscaler

# Acceptance Criteria
- [ ] CA to ignore nodes with etcd during downscale

[2019-04-17 05:06] vlerenc commented on #83
Hmm... when reading your above sentence: In encryption (in parallel to normal operations), we can do in-flight encryption, but only there we would have needed 3x space. In decryption, we don't need it, because there is no parallel ETCD or am I wrong. In my naive view, we download everything and we decrypt it, That's only 2x. So, if we can do encryption in-flight, then 2x seems ok or am I wrong?

[2019-04-17 05:12] vlerenc opened #148 "Abort Control Plane Component CrashLoopBackOff when ETCD Returns From Maintenance"
When ETCD is offline during maintenance (e.g. worker underneath gets replaced, configuration changes and pod must be rescheduled), the control plane components start crash looping. First the API server because it can't reach ETCD, then the other components because they can't reach the API server. This triggers a cascade of failures from which the control plane, due to prolonged back-off times, wil

[2019-04-17 06:04] amshuman-kr commented on #83
At present, we do not delete the old `etcd` folder during restoration and replace it only after restoration has succeeded. I think this was us being conservative. If we change this then 2x would be fine for decryption too.

[2019-04-17 08:29] vlerenc commented on #147
The annotation `"cluster-autoscaler.kubernetes.io/safe-to-evict": "false"` should prevent CA to downscale nodes with ETCDs (according to the CA docs).

[2019-04-18 06:17] vlerenc opened #149 "Update Operator"
**Feature (What you would like to be added):**
Run multi-node ETCD during maintenance operations, so that it can quickly fail-over.

**Motivation (Why is this needed?):**
Shorter ETCD (=API server=cluster) downtimes during maintenance operations that effect ETCD like rolling the seed node it runs on or updating the ETCD spec.

**Approach/Hint to the implement solution (optional):**
Operator that s

[2019-04-25 06:20] vlerenc opened #150 "Avoid Full Backup on Startup"
**Feature (What you would like to be added):**
It would be great to avoid a full backup on startup when the cluster is anyways busy to get going. In this critical and time sensitive phase, a full backup puts ETCD under additional pressure and consumes precious network bandwidth.

**Motivation (Why is this needed?):**
We may hinder ourselves in getting the cluster operational as fast as possible, w

[2019-04-25 08:29] shreyas-s-rao commented on #150
@vlerenc

Instead of deferring full snapshot to be done after a couple of minutes, we can probably take a delta snapshot on startup (for all the events from the previous delta snapshot on the blob store), or take a full snapshot if there wasn't one in the last 24 hours, as you suggested. The delta snapshot won't stress etcd and network as much as a full snapshot. Also, this helps us handle the sce

[2019-04-27 12:39] vlerenc commented on #150
Sounds like a very good proposal. Yes, thank you!

[2019-04-30 04:30] PadmaB opened #152 "Memory optimizations for larger value sizes of etcd in backup-sidecar."
For large key-value sizes of etcd and watch on etcd yielding responses at a high rates, we see that the backup sidecar memory shoots up drastically but linearly.

![profile015](https://user-images.githubusercontent.com/2212423/59498087-51d8db00-8eb2-11e9-9748-1cbfe4b6ef3c.png)

[2019-04-30 04:32] PadmaB commented on #95
Quite some memory optimizations are done with respect to delta & full snapshots mechanisms.
However, there is still some scope for improvement in case larger volumes of etcd. This can be tracked via a separate issue [#152](https://github.com/gardener/etcd-backup-restore/issues/152)

[2019-04-30 04:32] #95 closed

[2019-05-06 09:38] hoeltcl opened #156 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-05-07 07:59] #120 closed

[2019-05-08 05:36] #150 closed

[2019-05-13 12:56] #148 closed

[2019-05-14 06:11] #142 closed

[2019-05-14 08:21] shreyas-s-rao commented on #147
Closing this issue via https://github.com/gardener/gardener/pull/937

[2019-05-14 08:21] #147 closed

[2019-05-20 11:14] ThormaehlenFred commented on #156
can be closed

[2019-05-21 07:40] #156 closed

[2019-05-23 08:43] georgekuruvillak opened #163 "[BUG] Possibility of seg fault at type assertion."
**Describe the bug:**
A clear and concise description of what the bug is.
There is a possibility of a seg fault [here](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/snapstore/abs_snapstore.go#L85) if the type assertion of `err` to `azblob.StorageError` failed [here](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/snapstore/abs_snapstore.go#L83). Calling `aer.Error

[2019-05-25 07:53] swapnilgm commented on #163
Fixed via #164

[2019-05-25 07:53] #163 closed

[2019-06-12 12:02] wyb1 opened #167 "[BUG] Some metrics return no values"
**Describe the bug:**
Prometheus [best practices](https://www.robustperception.io/existential-issues-with-metrics)  is to avoid missing metrics whenever possible. Some of the metrics that are exposed by the sidecar return no values if no event has occurred that would generate a value for this metric. These metrics should be initialized to 0 to prevent this problem. Some offending metrics are:
* `e

[2019-06-14 09:18] georgekuruvillak commented on #152
The memory consumption surge is associated with the watch implementation in the client library.
As can be seen [here](https://github.com/etcd-io/etcd/blob/master/clientv3/watch.go#L814), when the ingress rate of the events are more than the egress rate from the watch response channel the buffers holding the events tend to bloat. There is no throttling done between etcd and the client. Even if thro

[2019-06-14 09:25] swapnilgm commented on #152
Does that mean kube-apiserver might also suffer memory spike in case of large updates?

[2019-06-14 09:52] amshuman-kr commented on #152
Potentially, yes. They would be using the same client library.

[2019-06-14 09:55] amshuman-kr commented on #152
I can think of only three options.

1. Document this and do nothing for now.
1. Contribute throttling to etcd client.
1. Try a polling-based approach (with parallel download of chunks of revisions) as against the watch-based approach now.

I vote for option 1.

[2019-06-14 10:15] PadmaB commented on #152
@georgekuruvillak Thanks for the investigation !
I agree with @amshuman-kr . Since this issue has, so far, not encountered in any of the active landscapes but only in the performance tests, due to the load - we could put this on-hold for now and pick it up in case we face the issue on any of the active landscapes or when we are done with other high-prio tasks.

[2019-06-14 10:19] bergerx commented on #115
This issue seems to be resolved by itself, which makes me nervous.
This issue was happening occasionally on different Gardener installations and can be happening in any shoot (was more likely to be hit on busy cluster with many control plane operations).
We didn't do any updates on Gardener (so no updates on etdc-backup-restore) in last 2 months and our workload is pretty much the same. But this i

[2019-06-14 10:19] #115 closed

[2019-06-14 23:32] ae6rt opened #169 "[Feature] Add options for etcd username and password"
**Feature:**

etcd can be secured with a username and password.  It would be helpful if `etcd-backup-restore` would support this.

**Motivation:**

Production clusters may be secured with username and password.  The backup tool must handle this use case.

**Approach/Hint to the implement solution:**

Add username and password command line options, and flow them into the underlying etcd clientv3 co

[2019-06-24 04:11] PadmaB commented on #144
There is a separate issue [#145](https://github.com/gardener/etcd-backup-restore/issues/145) to switch the mode of VPA for ETCD as required. Closing this issue

[2019-06-24 04:11] #144 closed

[2019-06-25 11:11] swapnilgm commented on #152
Sorry merging proposal closed issue automatically. Reopening, since the issue still persists. And need to be resolved in future.

[2019-07-04 11:56] #113 closed

[2019-07-10 05:07] shreyas-s-rao commented on #169
Closing via https://github.com/gardener/etcd-backup-restore/pull/170

[2019-07-10 05:07] #169 closed

[2019-07-30 05:23] #167 closed

[2019-08-05 11:43] swapnilgm commented on #83
As per discussion, in the context of Gardener or to be precise etcd backing kubernetes we  make use of [k8s secret encryption](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/) feature, so basically critical data is encrypted.

But since `etcd-backup-restore` is open-source project and may be used for HA of any etcd, the encryption feature for backups is brings good value.

Hence,

[2019-08-12 05:51] PadmaB opened #186 "Document how to restore from backups"
**Need:**
Create a how-to document to restore the data from backups

**Motivation:**
This document will act as a guide for administrators who monitor the clusters and trigger the restore action if required

[2019-08-14 01:47] hoeltcl opened #187 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-08-19 07:44] shreyas-s-rao opened #189 "[Feature] Enable SSL for the http server"
**Feature (What you would like to be added):**
SSL support for the etcd-backup-restore http server.

**Motivation (Why is this needed?):**
As etcd-backup-restore port will be exposed via service in Gardener, it is necessary to secure communication to and from the etcd-backup-restore server. Most of the other control plane components already provide SSL-enabled http endpoints.

**Approach/Hint to t

[2019-08-20 06:08] shreyas-s-rao commented on #187
The latest scan result from Checkmarx recommends addressing a task that is part of a larger issue https://github.com/gardener/etcd-backup-restore/issues/189 which is now being worked upon.

[2019-08-22 03:21] shreyas-s-rao commented on #97
Re-opening issue to address alerts for failed restores.

[2019-08-22 11:24] #186 closed

[2019-08-26 06:29] rfranzke commented on #140
I wanted to bring this up again as we saw network shortcomings on a seed with a lot of shoots were backups were taken simultaneously.

[2019-08-30 11:16] #141 closed

[2019-09-04 10:55] swapnilgm commented on #140
As per discussion, the etcd full snapshot will be scheduled before shoot maintenance window but randomised over a some significant short period, cause mostly shoot will have common maintenance window.

Alternative thought was, to have it starting from shoot creation timestamp irrespective of maintenance window.

[2019-09-04 11:07] #117 closed

[2019-09-12 10:48] swapnilgm opened #201 "[Feature] Use the config file for configuration"
**Feature (What you would like to be added):**
- [ ] Introduce new flag `--config-file` which accepts the config file path.
- [ ] Use this json/yaml config file to configure etcd-backup-restore server.
- [ ] Also, centralise the validation for all flags

**Motivation (Why is this needed?):**
Currently there are too many flags for `etcdbrctl server` command. Configuring each flag on for command len

[2019-09-17 05:35] #97 closed

[2019-09-18 10:31] swapnilgm opened #204 "Optimise the graceful deletion time in case of active snapshot upload"
**Motivation (Why is this needed?):**
Currently on receiving stop signal, snapshotter wait untill current snapshot upload is finished. Specifically in case of full snapshot upload it takes too much time end the etcd-backup-restore process gracefully.

Same with processing initialisation request. Initialisation request handler waits until snapshotter is stopped i.e snapshot upload is finished. This

[2019-09-27 06:55] #114 closed

[2019-09-27 15:32] #140 closed

[2019-10-22 10:46] #189 closed

[2019-10-22 10:50] swapnilgm commented on #187
Fixed via https://github.com/gardener/etcd-backup-restore/pull/196

[2019-10-22 10:50] #187 closed

[2019-10-23 04:37] shreyas-s-rao commented on #49
This issue shall be addressed when updating to etcd version to 3.4.

[2019-11-19 13:12] hoeltcl opened #206 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2019-11-19 13:12] hoeltcl commented on #206
1 medium finding in Checkmarx.

[2019-11-22 14:10] micheelengronne opened #207 "[Feature] Pull mode or remote backup"
**Feature (What you would like to be added):**
Pull backup from a remote etcd to a local storage instead of pushing a local etcd backup to a remote storage.

**Motivation (Why is this needed?):**
To do backups in that way increases the security as the etcd cluster that is backed up has no access to the backups themselves. It is a safeguard against compromised etcd clusters (one of the usecases of

[2019-12-02 06:19] swapnilgm commented on #207
Hi @micheelengronne,

From whatever i understood from the provided description, this feature is already supported. Following is my explanation for the same.
Etcd-backup-restore does pull the backups from etcd cluster with configured endpoints and upload to configured object store. As per the helm chart, it just needs to reside along side etcd sharing the data directory only for restoration purpose

[2019-12-12 09:29] #207 closed

[2019-12-20 10:50] swapnilgm commented on #206
@shreyas-s-rao  Isn't https://github.com/gardener/etcd-backup-restore/pull/196 suppose to resolve the issue.

[2020-03-11 10:58] georgekuruvillak opened #213 "[Feature] REST apis to return the details of the snapshot taken."
**Feature (What you would like to be added):**
REST apis should be changed in backup-restore to return information about the snapshot taken in addition to the status. Also would be nice to have an api that lists the list of snapshots from the latest full and the subsequent deltas.
**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**

[2020-03-16 11:41] swapnilgm commented on #206
https://github.com/gardener/etcd-druid/pull/22 and etcd-druid integration has fixed this.

[2020-03-16 11:41] #206 closed

[2020-03-16 11:42] swapnilgm commented on #213
Ref: https://github.com/gardener/etcd-druid/issues/17

[2020-03-17 08:32] hoeltcl commented on #206
@swapnilgm: I triggered Checkmarx scan of https://github.com/gardener/etcd-backup-restore again today. Issue is still there. Could you please check again?

[2020-03-17 10:58] swapnilgm commented on #206
I have resolved the reported vulnerability now with appropriate comment. So, further scans should not report the same.

[2020-03-17 11:07] hoeltcl commented on #206
Thank you. Comfirmed.

[2020-03-24 05:38] #201 closed

[2020-04-06 11:22] #213 closed

[2020-04-09 16:32] jfortin-sap opened #216 "[Feature] Update Gardener manual backup restore document"
**Feature (What you would like to be added):**
Ability to run etcdbrctl restore manually
**Motivation (Why is this needed?):**
Manual approach in case automatic restore has issues
**Approach/Hint to the implement solution (optional):**
Make restore container spec available to run etcdbrctl restore manually

[2020-04-09 16:32] jfortin-sap commented on #216
cc @shreyas-s-rao

[2020-04-13 05:48] #216 closed

[2020-04-20 06:06] shreyas-s-rao opened #219 "[BUG] Long validation duration for large ETCDs that get OOMKilled"
**Describe the bug:**
When the etcd data is large (>1GB) and get oomkilled, backup sidecar takes very long (>5hr) to perform validation of the data directory and start etcd again. During this period, readiness is set to true, due to which apiserver tries to send traffic to etcd.

**Expected behavior:**
Validation should not take that long, and readiness probe should not be set to true during data

[2020-04-21 12:25] swapnilgm opened #220 "[Feature] Delete the failed/partial snapshot upload immediately."
**Feature (What you would like to be added):**
Delete the failed snapshot upload immediately.
**Motivation (Why is this needed?):**
Currently, partially uploaded or failed snapshot uploads are deleting in scheduled garbageCollection thread. Which is usually configured to run late. And leads to storage space accumulation till the time.

**Approach/Hint to the implement solution (optional):**
Spawn

[2020-04-21 12:39] swapnilgm opened #221 "[Improvement] Skip first full snapshot if last full snapshot is recent enough"
**Feature (What you would like to be added):**
Skip first full snapshot if last full snapshot is recent enough

**Motivation (Why is this needed?):**
Currently, once initial delta snapshot it taken, and backup sidecar marked healthy, we take full snapshot irrespective of last snapshot is recent enough or not.

**Approach/Hint to the implement solution (optional):**

[2020-04-24 10:35] swapnilgm commented on #220
Thinking over this issue again and after discussion with @georgekuruvillak. Current garbage collection implementation is appropriate in all sorts.
- current GC  deletes the successful backups as per GCPolicy.
- Also, it delete the any partial upload form till the time.
- We can't trigger deletion of failed backups, cause it might also fail with reason similar to why last upload failed even after r

[2020-04-24 10:35] #220 closed

[2020-04-28 08:43] #221 closed

[2020-04-29 11:16] swapnilgm commented on #129
This feature is implemented in https://github.com/gardener/gardener/pull/1421

[2020-04-29 11:16] #129 closed

[2020-04-29 11:18] swapnilgm commented on #145
This is feature is implemented ini https://github.com/gardener/gardener/pull/1421

[2020-04-29 11:18] #145 closed

[2020-05-04 10:15] shreyas-s-rao commented on #219
Unable to reproduce long validation period locally. Sample etcd data of 5GB took 5 hours to validate when in a canary cluster, but took less than a minute when trying to reproduce issue on different cluster having similar/lesser memory and CPU resources. Readiness probe issue was also not reproducible in this setup. Will keep this issue open for now and close it after 2 weeks if no more occurrence

[2020-08-03 09:44] #107 closed

[2020-08-05 07:25] amshuman-kr opened #255 "[Feature] Compress/decompress snapshots before/after uploading/downloading to/from object store"
**Feature (What you would like to be added):**
At present, (full and incremental) snapshots are stored in the object store uncompressed.

Can we optionally support storing compressed (full and incremental) snapshots in object store? I.e. Compress the snapshots before uploading to object store and decompress backups after downloading from object store for restoration.

This could be controlled by a

[2020-08-13 19:52] vlerenc commented on #149
@swapnilgm @shreyas-s-rao Is that too ambitious/complex or still useful, but then this issue should be moved to the druid that we have now? Or would we rather say that you either have a single-pod ETCD or a clustered ETCD, but nothing in between (like this ticket here)?

[2020-08-13 19:54] vlerenc commented on #61
@shreyas-s-rao @swapnilgm Should this ticket be rather moved to https://github.com/gardener/etcd-druid/issues?

While we are at it, maybe there are more issues in this repo that should go there?

[2020-08-14 03:06] swapnilgm commented on #61
Makes sense. These issue were crated prior to introducing etcd-druid.

[2020-08-14 15:15] shreyas-s-rao commented on #149
@vlerenc when this issue was created, we never had druid in the picture, which is why the issue is still in this repo. But yes, it makes sense to move this to druid since backup-restore was only meant to be a sidecar. And the usecase of an "update operator" probably makes sense as a subset of the broader feature of dynamic scaling of etcd replicas, which would come after static multinode in the fe

[2020-09-09 04:55] amshuman-kr opened #258 "[Feature] Retry full backups to avoid false positives in alerts"
**Feature (What you would like to be added):**
If regular full snapshot backup fails, they are retried only in the next interval (typically, `24h`). We should retry the full snapshot backup in shorter time frame (say, `10m`, `15m` or `20m`).

**Motivation (Why is this needed?):**
Alerts are configured to fire if the latest full backups are more than `24h` old. These typically get resolved automati

[2020-09-21 07:58] amshuman-kr commented on #258
@shreyas-s-rao You mentioned that the problem with failed etcd backup alerts was frequently in shoot clusters that got hibernated before the full snapshot schedule. I indeed saw many shoots where this was happening. The solution to this might be either to adjust the full snapshot cron string based on the hibernation schedule or taking a full snapshot just before hibernation as in your PR https://g

[2020-09-22 08:34] shreyas-s-rao commented on #258
@amshuman-kr All snapshots (full and delta) are uploaded via chunk upload. And there is an exponential backoff for chunk upload retries [here](https://github.com/gardener/etcd-backup-restore/blob/72720b4d2f117ba571b08d48c4ab37e0e68764ca/pkg/snapstore/utils.go#L134). So both full and delta snapshot failures are re-attempted.

Regarding the missed snapshots issue, we can either modify [this](https:/

[2020-09-22 09:37] amshuman-kr commented on #258
Ok. This covers upload errors but not other errors during full snapshot (e.g. timeout while taking the snapshot). But I guess those are really rare.

[2020-09-22 09:47] amshuman-kr commented on #258
I would suggest fixing the issue within backup sidecar itself, so that it can be consumed bug-free by anybody without druid too.

It sure makes sense to calculate [this value](https://github.com/gardener/etcd-backup-restore/blob/72720b4d2f117ba571b08d48c4ab37e0e68764ca/pkg/server/backuprestoreserver.go#L202) based on the full-snapshot schedule. But it still will be considered only when the sidecar

[2020-09-23 10:24] amshuman-kr opened #260 "[BUG] Database verification should check WALs also for latest revision"
**Describe the bug:**
The database validation logic currently [only checks the bolt DB data](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/initializer/validator/datavalidator.go#L265-L301) for the latest revision in the etcd directory.

It is possible that  etcd has terminates abnormally and fails to flush the changes from the WALs to the bolt DB but if the latest backup (full or

[2020-09-26 19:04] #104 closed

[2020-09-28 11:18] vlerenc commented on #83
There are two more reasons why we may need to build that: (1) Metadata (resource name) is partly also sensitive information and (2) other, partly unknown resources like custom resources, may and often will contain sensitive information, too. Unless (1) is also encrypted (resource names), what I don't know and we make the to-be-encrypted resources configurable in the shoot resource to counter (2),

[2020-09-29 15:33] Gerrit91 opened #263 "[BUG] Snapshot restoration failed due to ETCD max request bytes size"
**Describe the bug:**

In our production environment, restoration of an ETCD backup potentially fails with the error message `trying to send message larger than max (2541915 vs. 2097152)`. The restoration process will be stuck in an endless loop.

**Expected behavior:**

Restoration succeeds.

**How To Reproduce (as minimally and precisely as possible):**

I don't know. :(

But I can provide a 4GB

[2020-09-30 11:29] vlerenc commented on #263
@shreyas-s-rao @amshuman-kr According to @majst01, [ETCD request size limit](https://etcd.io/docs/v3.2.17/dev-guide/limit/#:~:text=etcd%20is%20designed%20to%20handle,bytes%20flag%20for%20etcd%20server) wasn't changed and they use the ETCD as provisioned by the druid.

[2020-09-30 14:23] shreyas-s-rao commented on #263
Thanks @Gerrit91 for reporting this issue. This is something that we haven't encountered before. From the error logs, what I gather is that there's a delta snapshot who's events sum up to larger than 2MiB, and the transaction built from this fails to be written to etcd. Seems surprising to me, since we never encountered this issue before, event with delta snapshots as large as 100MiB, unsure why t

[2020-09-30 17:13] amshuman-kr commented on #263
Yes. I think it is generally a good idea to pass the same configuration as the main etcd container to the embedded etcd during restoration. With `etcd-druid` we have the place and opportunity to do that.

[2020-10-01 04:37] shreyas-s-rao commented on #260
/assign @ishan16696

[2020-10-02 12:38] majst01 commented on #263
We found what caused this!
We wanted to move our etcd from standard storage to ssd (gardener.fast) storage. Before we migrated the etcd we measured the performance on the standard storage with:

[code]
Which simulates small load on the etcd and reports IOPS and slowest OP and stddev.

Once you have done this, the incremental snapshot created after this run can not be restored anymore with the abov

[2020-10-02 13:21] Gerrit91 commented on #263
Yep. This way you should be able to create your own "unrestorable" backup and we do not have to share GBs of files. :)

[2020-10-05 05:47] shreyas-s-rao commented on #263
@Gerrit91 @majst01 Ah ok. This is something I'll try locally and try to reproduce. Thanks.

[2020-10-06 06:28] majst01 commented on #255
I was looking into this, because we do compression in our [backup-restore-sidecar](https://github.com/metal-stack/backup-restore-sidecar) which is for postgres and rethink databases. I would like to reuse this implementation and create a PR here.

But when inspecting the stored files (GCP Buckets in our case), there are always two instances of every backup:

- one single file with the json content

[2020-10-06 07:20] amshuman-kr commented on #255
@majst01 Thanks a lot for the offer of contribution! ❤️

This is because of the approach of uploading in chunks. In [S3](https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html), the individual chunks are automatically cleaned up. I was under the impression that the same is true in GCS and other storage providers. But I checked the documentations of [GCS composite objects](https://cloud.g

[2020-10-06 07:27] majst01 commented on #255
OK, interesting.
Can you give me some numbers what you gain in upload performance by doing chunked uploads ? Because when doing compression, doings so for every chunk is not optimal. It would be much better to compress only one file and upload it.

[2020-10-06 07:49] amshuman-kr commented on #255
I afraid I do not have the numbers as chunking implementation was done quite some time ago. But I do remember that the main reason for implementing chunking upload because we started facing upload timeouts on flaky networks and since the retry would start the upload from the beginning, the upload would practically never happen in such cases. Hence, the chunked upload to make it possible to upload

[2020-10-06 07:58] amshuman-kr opened #268 "[BUG] Individual chunks of multipart upload are still present after upload has been completed"
**Describe the bug:**
The current chunked backup upload implementation relies on the storage provider to clean up the individual chunks after the upload has been completed. S3 does this [automatically](https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html). But GCS [doesn't](https://cloud.google.com/storage/docs/composite-objects#composing). This means that the chunks remain in GCS and

[2020-10-06 07:58] amshuman-kr commented on #255
Just opened #268

[2020-10-06 09:00] shreyas-s-rao commented on #255
@majst01 Regarding your question:

Chunk upload of objects to the bucket basically chunks the object on client side and first uploads the chunks to the bucket. In order to finalize this as a proper object on the bucket, the client finally "composes" the chunks into a logical encapsulation, which you would see on the GCS bucket as the final object. See [here](https://cloud.google.com/storage/docs/j

[2020-10-06 09:49] vlerenc commented on #255
+1

Quite some time ago, that was indeed extremely painful and we couldn't have an unreliable backup, so we went for chunks (more effort, not as efficient, but it was magnitudes more important to have reliable backups and no alerts of failed backups increasing in likelihood with larger ETCDs). So that is the history of that. :-)

Awesome, thank you very much @majst01. 👍

[2020-10-06 12:39] ishan16696 commented on #260
I tried to read the WAL file with ReadAll() method but unable to find any dataStructure or anything that can give latest revision from WAL file or changes which are not committed to DB file.
Actually WALs file is not meant to give us revision(or changes which are not committed to DB file) because WALs file was introduced just for **RAFT** protocol.

One possible solution can be if current etcd Rev

[2020-10-06 13:04] amshuman-kr commented on #260
I would advise against using `ReadAll()`. Especially, for the WAL files, we don't want to load them into memory.

Perhaps the [`go.etcd.io/etcd/v3/wal`](https://github.com/etcd-io/etcd/blob/master/wal/) can be used?

This is an interesting idea. This was an option we had considered for the database verification itself. But we had found that the verification can be done much faster if we use some p

[2020-10-06 13:17] shreyas-s-rao commented on #268
Also refer [here](https://cloud.google.com/storage/docs/composite-objects#uploads).

[2020-10-06 14:06] majst01 commented on #255
First Shoot of my WIP can be seen here: https://github.com/gardener/etcd-backup-restore/compare/master...majst01:compression?expand=1

Most difficult part is the cli flag handling :-)

i dont want to open a Draft PR already, i want to get a first feedback of my approach. So if someone would spend some minutes to have a look, this would be much appreciated.

[2020-10-07 02:54] amshuman-kr commented on #255
@majst01 Thanks. That was quick!

The changes generally look good and I liked the idea of supporting multiple compression method.

I had a couple of points though.
#### 1. Backward compatibility
Especially, while restoring from uncompressed previous snapshots. This is mentioned in the issue description above.

Since this change will be rolled out to all live etcds in gardener landscapes, we need t

[2020-10-07 05:43] majst01 commented on #255
I pushed a small enhancement to support uncompressed snaphots as well. No metadata needed because all is decided based on the file extension.

mholt/archiver is able to compress/decompress a `io.Reader` which will the base for doing streamed compression.
But otoh, compressing 8Gi of JSON will end in ~2-3Gi of compressed output, i would start with a file based compression support and see how that g

[2020-10-07 10:19] amshuman-kr commented on #255
Thanks a lot! The change looks good.

But otoh, compressing 8Gi of JSON will end in ~2-3Gi of compressed output, i would start with a file based compression support and see how that goes and support streaming in a later go, WDYT ?

Sounds good to me 👍 We can pick up on-the-go compression/decompression later before picking encryption.

[2020-10-07 10:43] majst01 commented on #255
One question arises for me, how do you guys test this sidecar actually, bit hard because deployment is usually done via etcd-druid which is managed by gardener. We dont have a lot of gardener seeds where we can modify image-vectors easily.

Any hint is welcome.

[2020-10-07 11:42] amshuman-kr commented on #255
@shreyas-s-rao should be able to help more with that. But there is the [sample helm chart](https://github.com/gardener/etcd-backup-restore/tree/master/chart/etcd-backup-restore), which might be of help. It even uses the `Local` provider (_uploads_ to a local folder in the volume. So, you don't need to mess with buckets.

[2020-10-08 08:16] majst01 commented on #255
OK, thanks. Was able to test locally for the snapshot creation with the local snap store including compression. @shreyas-s-rao how do you test restoration in this setup ?

[2020-10-12 13:42] amshuman-kr commented on #255
@majst01 I tested your branch for both backup and restoration. I had to make a small adjustment (please see the patch below).

[code]

I could verify that compression/decompression was working well for full snapshots. But the delta snapshots are not compressed/decompressed. I checked the code for delta snapshots and found it not conducive for file compression. In fact, the [implementation](https:/

[2020-10-14 09:36] majst01 commented on #255
Hi @amshuman-kr
thanks for your deep insight and suggestions. I was trying also myself and found also some differences in the handling of full/incr backups. Therefore your suggestion is totally valid to go for a in memory compression(instead of archiving) an the `io.ReaderCloser`.

I am a bit short in time to spent more on my actual effort, so if you would like to pick my ideas, go ahead. I am hap

[2020-10-14 13:21] amshuman-kr commented on #255
@majst01 Thanks a lot for the help already. Much appreciated ❤️

[2020-10-21 10:42] hoeltcl opened #274 "[BUG] Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2020-10-21 11:23] shreyas-s-rao commented on #274
Checkmarx findings have been marked as resolved. Closing this issue.

[2020-10-21 11:23] #274 closed

[2020-10-21 11:34] #49 closed

[2020-10-21 17:54] amshuman-kr commented on #33
Moved to https://github.com/gardener/etcd-druid/issues/107

[2020-10-21 17:54] #33 closed

[2020-10-28 06:56] amshuman-kr commented on #103
The long duration part is to be addressed via https://github.com/gardener/etcd-druid/issues/88.

[2020-10-30 11:00] shreyas-s-rao opened #277 "[Feature] Avoid hardcoded full snapshot duration value"
**Feature (What you would like to be added):**
It would be desirable to move away from the current hardcoded full snapshot duration value [here](https://github.com/gardener/etcd-backup-restore/blob/6b8bf4d501195b2790e47ad333ac340cfdc3f368/pkg/server/backuprestoreserver.go#L202), and make this more cron-schedule aware, so that the backup sidecar can take a decision about skipping a full snapshot on

[2020-10-31 07:06] #258 closed

[2020-11-03 07:21] majst01 commented on #115
Hi,
sadly this happens in our soil cluster out of the dark without any changes to etc-backup-restore for 2 month.
This is  in our test soil with very low resources managed by gardener and with no significant changes in the usage as far as we can tell.

Our version of etcd-backup-restore is v0.9.1

[2020-11-03 17:32] amshuman-kr commented on #115
@majst01 That is unfortunate. Would you have some details such as the CPU and memory consumption for the etcd and the backup-restore container ~30m before this happened?

[2020-11-03 18:23] abdasgupta commented on #263
/assign

[2020-11-03 18:53] amshuman-kr opened #281 "[Feature] Move performance regression tests into the test machinery integration test suite"
**Feature (What you would like to be added):**
[Feature] Move [performance regression tests](https://github.com/gardener/etcd-backup-restore/tree/master/test/perf/regression) into [test machinery integration test suite](https://github.com/gardener/etcd-backup-restore/tree/master/test/e2e/integrationcluster)

**Motivation (Why is this needed?):**
Tests get executed automatically during PR merge.

*

[2020-11-04 06:09] abdasgupta commented on #263
Hi @Gerrit91 I could reproduce your use. So to solve, I modified the ETCDBR to have `MaxRequestBytes` and `MaxTxnOps` variables  with `10 * 1024 * 1024` and `10 * 1024` as values respectively in `pkg/snapshot/restorer/restorer.go` . Along with that I had to create the client with `MaxCallSendMsgSize: 10 * 1024 * 1024` in the same `pkg/snapshot/restorer/restorer.go` . I would send a PR after I remo

[2020-11-04 07:12] Gerrit91 commented on #263
Sounds great, @abdasgupta. I guess it's a good idea that a user can increase the value for those rare moments where this error pops up. Did you also try this with a larger performance `--load` as well?

[2020-11-04 08:33] abdasgupta commented on #263
@Gerrit91 Yes. Tried with `--load="xl"` . It restored properly.

[2020-11-04 17:03] abdasgupta commented on #263
I raised this PR https://github.com/gardener/etcd-backup-restore/pull/282 . Please review it. One thing I noticed while checking with bigger data sizes, write operation in my setup is very slow. So `etcdctl check perf` is failing most of the time.  Along with that restoration is giving `request timed out`! Though sometimes restoration is passing for bigger data as well.

[2020-11-09 14:59] #260 closed

[2020-11-11 07:02] amshuman-kr opened #283 "[Feature] Handling etcd transactions correctly during backup and restoration"
**Feature (What you would like to be added):**
1. Ensure that events from a single etcd transaction are not spread across multiple incrementation snapshots.
1. Group together events in an incremental snapshot into a single etcd transaction while restoring the etcd database from backup if the events belonged to a single etcd tranaction originally.
1. Avoid using etcd transactions for any other purp

[2020-11-12 03:27] vlerenc commented on #283
Thanks @amshuman-kr . That looks like an important finding. If implemented, which seems necessary, it will possibly prolong our restoration times (a lot), right (transactions one-by-one)?

To clarify: This problem only appears "between" incremental snapshots. There we need it, because ETCD continues to run and is generating, based on the current revisions, more revisions that end up in follow-up i

[2020-11-13 09:50] abdasgupta commented on #263
I spent some time on how etcdbr is restoring from the delta snapshots. I also had to have a look on `etcdctl check perf` to understand what was going wrong!
So the problem which grabbed my attention in this bug was, why do we need to increase `maxTxnOps` parameter while restoring? `check perf` was not increasing `maxTxnOps` while writing. Then why do we need to increase `maxTxnOps` while restoring

[2020-11-13 09:53] abdasgupta commented on #283
Referring https://github.com/gardener/etcd-backup-restore/issues/263#issuecomment-726664952

[2020-11-14 15:13] shreyas-s-rao commented on #283
@vlerenc This problem in applying delta events in transactions can occur anywhere in an incremental snapshot, based on the operation performed on the etcd when snapshotting. We have never encountered this issue in an etcd backing a k8s cluster, because of the way kube-apiserver interacts with etcd, which is only get, range, put, delete operations, and not full-fledged transactions. This is why the

[2020-11-17 09:46] #263 closed

[2020-11-17 18:08] hoeltcl opened #284 "[BUG] Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2020-11-18 04:15] ishan16696 commented on #255
/assign

[2020-11-18 11:49] shreyas-s-rao commented on #284
Checkmarx findings have been marked as resolved.

[2020-11-18 11:49] #284 closed

[2020-11-23 15:30] mvladev opened #285 "[Feature] Use Unix Domain Socket (UDS) for sidecar from the etcd RPCs"
**Feature (What you would like to be added):**

Instead of running a TLS server for the `initialization/status` and `initialization/start`, use unix domain socket (UDS) to connect from etcd -> bacup sidecar. The socked can be created in a `emptyVolume` that is shared between containers.

I would very **recommend** to replace the [bootstrap bash logic](https://github.com/gardener/etcd-backup-restor

[2020-11-24 14:02] Gerrit91 opened #287 "[BUG] Restoring backup fails due to event revision mismatch"
**Describe the bug:**

We encountered an issue where backup restoration was failing because of "revision mismatches". In this cluster we are running an installation of Rook.

For some reason the expected revision 69263102 seems to be present in the first delta snapshot (which is only 1kB in size). The increment contains only one single entry:

[code]

We were first encountering an issue where the

[2020-11-26 14:40] neotkm opened #288 "[Feature]Backup to MinIO / other private S3"
**Feature (What you would like to be added):**
Backup etcd to alternative S3. For example, to a private MinIO.

**Motivation (Why is this needed?):**
Corporate policies do not allow data to be stored outside of the infrastructure.

**Approach/Hint to the implement solution (optional):**
Add an option / environment variable --endpoint-url to specify the private S3 address

[2020-11-27 18:02] amshuman-kr commented on #287
The following part of the issue is already solved in #259 released in [v0.11.1](https://github.com/gardener/etcd-backup-restore/releases/tag/v0.11.1).
[code]

@shreyas-s-rao @abdasgupta Do you think #282 would address the following part? I think this can only be solve by solving #228.
[code]

[2020-11-30 06:21] abdasgupta commented on #283
/assign

[2020-11-30 13:33] amshuman-kr commented on #288
Thanks for the feature request, @neotkm. The #261 which added support for OCS S3 object store includes a mechanism to configure a different endpoint URL. Would this suffice or do you require any further changes?

[2020-11-30 13:52] amshuman-kr commented on #285
Considering that there are other _API_ which anyway are required (e.g. request on-demand full/delta snapshot) to be REST over TLS, I am not sure how much moving only this part to UDS would help.

Agreed. Earlier when we were using the upstream ETCD image, we were handicapped but now with [gardener/etcd-custom-image](https://github.com/gardener/etcd-custom-image) we can pick this.

[2020-11-30 16:40] abdasgupta commented on #283
So as per the ETCD3 API documentations (https://etcd.io/docs/v3.4.0/learning/api/)  Watch Streams are guaranteed to contain all the events of a transaction and the events are posted in ascending order by revision number :
[code]

During restorations, events from same transaction are placed in a single commit :
https://github.com/gardener/etcd-backup-restore/blob/a48eac88fc15b298f9709c4767bdc839af7

[2020-12-01 01:55] #283 closed

[2020-12-01 01:55] amshuman-kr commented on #283
Thanks for the investigation and clarification, @abdasgupta!

[2020-12-01 21:32] neotkm commented on #288
OCS S3 solves my problem.
Thanks for your help.

[2020-12-01 21:36] #288 closed

[2020-12-08 07:49] amshuman-kr commented on #287
@Gerrit91 Regarding the second part of the error `mismatched event revision while applying delta snapshot, expected 69263102 but applied 69263103`, the related #228 was closed because the _right thing_ was already being done regarding handling transactions during restoration as the revision is matched while applying each incremental snapshot.

It is possible that there is an edge case. Is this iss

[2020-12-16 10:16] miton18 opened #295 "[BUG] Swift snapstore does not natively support regions"
**Describe the bug:**
I use Swift snapstore and I have multiple Openstack regions in my tenant. I'm not able to set a region to the Swift snapstore config.

**Expected behavior:**
Support `OS_REGION_NAME` as  OS_USERNAME, OS_PASSWORD, OS_AUTH_URL, OS_TENANT_ID and OS_DOMAIN_ID, OS_CLOUD is.

**How To Reproduce (as minimally and precisely as possible):**
Try to perform backup on a different

**Logs

[2021-01-06 07:18] amshuman-kr opened #302 "[Feature] Avoid loading delta snapshots into memory during restoration."
**Feature (What you would like to be added):**
The [getEventsDataFromDeltaSnapshot](https://github.com/gardener/etcd-backup-restore/blob/b0847ed07ae525655be1ab7ed371bec2823de7be/pkg/snapshot/restorer/restorer.go#L586) function loads the delta snapshot contents as bytes in memory during restoration. This is sub-optimal. We should avoid this.

**Motivation (Why is this needed?):**
This seems to be d

[2021-02-02 04:58] #255 closed

[2021-02-02 06:27] #295 closed

[2021-02-03 13:35] vlerenc commented on #83
In addition, I just noticed, we have another problem. We keep old backup entries for some time, but since we introduced ETCD encryption keys, nobody can read the encrypted resources anymore once the cluster gets deleted and the ETCD encryption key is deleted (in the shoot namespace in the seed cluster and the shoot state in the garden cluster), isn't it so @shreyas-s-rao ?

[2021-02-04 13:10] hoeltcl opened #306 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2021-02-16 05:47] shreyas-s-rao commented on #306
Findings have been assessed and reported as non-exploitable. Hence closing this issue.

[2021-02-16 05:47] #306 closed

[2021-02-24 08:22] abdasgupta opened #308 "[Feature] Flatten directory structure of backup store of ETCD BR"
Currently, directory structure of ETCD backup is like the following:
**Current Directory Structure**
[code]

This feature will flatten the directory structure and coalesce all the snapshots under same directory:
[code]
This reorganization will make backup directory look simpler and easier to work with compaction.

Refer: https://github.com/gardener/etcd-druid/issues/88

[2021-03-03 10:53] ishan16696 opened #313 "[BUG] Fresh etcd-backup-restore tries to take 2 full snapshot."
**Describe the bug:**
When fresh etcd-backup-restore starts then it tries to take 2 full snapshots.

**Expected behavior:**
Fresh etcd-backup-restore should not try to take 2 full snapshots. Only 1 full snapshot should be taken.

**How To Reproduce (as minimally and precisely as possible):**
starts etcd  and keep putting the data into etcd and starts the fresh etcd-backup-restore. Observe the logs

[2021-03-08 06:44] #313 closed

[2021-04-12 09:19] amshuman-kr opened #321 "[Feature] Add leader-election to the backup-restore sidecar according to the multi-node ETCD proposal."
**Feature (What you would like to be added):**

Add leader-election to the backup-restore sidecar according to the multi-node ETCD proposal. Bring the [snapshotters](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#backup) (both full and incremental) and the [defragmentation](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.m

[2021-04-12 09:36] amshuman-kr opened #322 "[Feature] Enhance initialisation sequence according to the multi-node ETCD proposal"
**Feature (What you would like to be added):**

Enhance [initialisation sequence](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#decision-table-for-etcd-backup-restore-during-initialization) according to the multi-node ETCD proposal.

This should including the following broad topics.
1. Loading template etcd configuration (supplied by `etcd-druid`).
2. Readi

[2021-04-12 09:57] amshuman-kr opened #323 "[Feature] Validate and analysis restoration handling in etcd-backup-restore according to the multi-node ETCD proposal"
**Feature (What you would like to be added):**

Restoration handling of single node is already implemented and release. Yet we need to evaluate and analysis restoration handling in etcd-backup-restore according to the [enhancement to initialisation sequence](https://github.com/gardener/etcd-backup-restore/issues/322) in the [multi-node ETCD proposal](https://github.com/gardener/etcd-druid/blob/mas

[2021-04-12 11:05] ishan16696 opened #324 "[BUG] Backup-restore is taking DeltaSnapshot even when --delta-snapshot-period is set to 0 seconds"
**Describe the bug:**
When `--delta-snapshot-period` is set to 0 seconds Etcd-backup-restore is taking DeltaSnapshot every time when sidecar container gets restart.

**Expected behavior:**
Etcd-backup-restore should not take deltaSnapshot when `--delta-snapshot-period` is set to `0 seconds`.

**How To Reproduce (as minimally and precisely as possible):**
1. Run the `Etcd` and put some dummy data.

[2021-04-12 11:15] ishan16696 commented on #324
/assign

[2021-04-14 08:22] amshuman-kr commented on #324
I think this is expected behaviour as of now.

The `--delta-snapshot-period` applies to the repeated snapshots taken at regular intervals by the snapshotter. The snapshot (full or delta) taken at container startup is a safety mechanism which is independent of the regular intervals.

If we want to disable snapshots (full or delta) completely (i.e. even during container start up), we should discuss

[2021-04-14 08:38] ishan16696 commented on #324
Thanks @amshuman-kr,
I wasn't aware that this is the intended behavior.

Yeah we can discuss that.

[2021-04-14 10:39] shreyas-s-rao opened #325 "[Feature] Snapshotter should not proactively cut off traffic to etcd on backup failures"
**Feature (What you would like to be added):**
Currently, snapshotter sets etcd readiness probe to false when snapshotter fails, thus cutting off traffic to etcd until snapshotter becomes healthy again. There is a need to modify this behavior to allow etcd to serve traffic even if backups are failing, but raise a critical issue for the garden landscape operator to act upon at the earliest.

**Moti

[2021-04-14 13:27] ishan16696 commented on #324
As this is the intended behavior of `etcd-backup-restore` I am closing this issue for now.
But if there will be a need to introduce CLI flags to disable delta snapshots completely (even during container start up), we can create a separate issue for that.

[2021-04-14 13:27] #324 closed

[2021-04-28 08:05] shreyas-s-rao commented on #325
Fixes partially https://github.com/gardener/etcd-druid/issues/147

[2021-05-17 08:13] amshuman-kr opened #333 "[Feature] Make etcd-backup-restore Kubernetes-aware keep member and backup status up-to-date"
**Feature (What you would like to be added):**

Make etcd-backup-restore Kubernetes-aware keep the corresponding [member status](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#members) and [`BackupReady` condition](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#backup-failure) up-to-date in the `Etcd` resource [status]

[2021-05-20 12:04] timuthy commented on #333
Please see https://github.com/gardener/gardener/issues/4083. As soon as we only have seeds running 1.18 and the support of Etcd-Druid, we can use [Server-Side Apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/) to let each `etcd-backup-restore` actor only update the relevant portion of the `etcd` resource which is `status.members[id=<cluster-member-id>]`.

This will spare us

[2021-06-07 05:57] ishan16696 commented on #321
/assign

[2021-06-09 08:45] abdasgupta commented on #308
Addressed here https://github.com/gardener/etcd-backup-restore/pull/301 . Closing it as the PR is merged

[2021-06-09 08:45] #308 closed

[2021-07-05 10:39] ishan16696 opened #354 "[Feature]To take out of sync full/delta snapshot, delegate the incoming http request from backup Follower to the backup Leader."
**Feature (What you would like to be added):**
If backup-restore `Follower` receives the HTTP/HTTPS  requests to take [out-of-sync full/delta snapshot](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/server/httpAPI.go#L103-L105) then delegate that incoming request to the backup-restore `Leader` and Let the backup-restore leader take/upload the out-of-sync snapshot(full as well as i

[2021-07-06 09:14] plkokanov opened #356 "[Feature] Add ability to copy backups between backup buckets"
**Feature (What you would like to be added):**
As part of the [Control Plane Migration] topic(https://github.com/gardener/gardener/blob/c00ec60c8423d5b95598e7a764d67f366f8c06b6/docs/proposals/07-shoot-control-plane-migration.md) (note that this is the revised GEP) we would like to add the functionality to copy shoot ETCD backups between seed backup buckets.

**Motivation (Why is this needed?):**
C

[2021-07-06 09:14] plkokanov commented on #356
/assign @plkokanov

[2021-07-20 14:20] shreyas-s-rao commented on #333
Backup sidecar will now have to adhere to https://github.com/gardener/etcd-druid/issues/206, by creating and maintaining the `EtcdMember` resource, if the corresponding CRD exists. It will still maintain the `BackupReady` condition on the `Etcd` status according to the original proposal.
@amshuman-kr who is responsible for the deletion of the `EtcdMember` resource? Ideally, upon termination reques

[2021-07-20 14:28] amshuman-kr commented on #333
Whoever was responsible for [removing the member entry in the status](https://github.com/gardener/etcd-druid/tree/master/docs/proposals/multi-node#13-superfluous-member-entries-in-etcd-status) in the earlier design with SSA. Basically, the `custodian` controller.

There is still the case of superfluous member entries in etcd cluster which is to be cleaned up by [the leading sidecar](https://github

[2021-07-21 12:19] kris94 commented on #356
/assign @kris94

[2021-07-26 07:46] amshuman-kr commented on #333
Given the limitations in Server-Side Apply (please see https://github.com/gardener/etcd-druid/issues/179), https://github.com/gardener/etcd-druid/pull/207 describes the alternative of `etcd-backup-restore` renewing the corresponding `lease` object continually as a way to inform `etcd-druid` about the health/status of the corresponding member.

[2021-07-26 12:02] Harisrini2020 opened #360 "Compression Failed in ETCD Druid Job with larger DB Size"
**Describe the bug:**
We are trying the ETCD Druid Job for snapshot compaction with 200 Delta Snapshots. Druid job fetching the snapshots and compacting successfully but compression failed.Also the full snapshot is uploaded without compression in compressed format.So , while restoring the snapshots, we are getting error with wrong form of data.

**Expected behavior:**
Compression should be success

[2021-07-26 12:08] ishan16696 commented on #360
`time="2021-07-26T11:35:15Z" level=error msg="compression failed: context deadline exceeded"`
Compression of snapshot is failed [here](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/compressor/compressor.go#L59-L62) . I think it is because `io.Copy()` has failed.

[2021-07-26 12:19] ishan16696 commented on #360
[save()](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/snapstore/abs_snapstore.go#L148-L163) function call  also uses `io.Copy()`  internally before chunking the snapshot.

[2021-07-26 16:08] ishan16696 commented on #360
As the Error message says ` context deadline exceeded` and AFIK[ io.Copy](https://cs.opensource.google/go/go/+/go1.16.6:src/io/io.go;l=381) don't use any context. Then I think it is the context that was passed to take the snapshot.

[2021-07-26 17:01] amshuman-kr commented on #360
The problem is that the context passed to [client.Snapshot(ctx)](https://github.com/gardener/etcd-backup-restore/blob/1638bef219bef7c5367875d78f8cd6a83ca5c539/pkg/etcdutil/etcdutil.go#L123) is what timed out.

The problem is that connection timeout is being used as the [context timeout for the full snapshot](https://github.com/gardener/etcd-backup-restore/blob/1638bef219bef7c5367875d78f8cd6a83ca5c

[2021-07-27 10:33] ishan16696 commented on #360
I think we have to use large timeout for `context` whenever `backup-restore` will take/trigger the fullSnapshot and Moreover we also have to use the large timeout for restoration as decompression  of large baseSnashot can also be longer.
Do I miss any case @amshuman-kr @shreyas-s-rao where time out can occur ?

[2021-07-27 12:04] shreyas-s-rao commented on #360
@ishan16696 During restoration, context is mainly used for applying the events from delta snapshots to the etcd, in addition to empty get calls to etcd to get the latest revision. Few cloud-specific snapstore implementations of `Fetch` function use a [context.Background()](https://github.com/gardener/etcd-backup-restore/blob/1638bef219bef7c5367875d78f8cd6a83ca5c539/pkg/snapstore/abs_snapstore.go#L

[2021-07-27 12:12] ishan16696 commented on #360
yes @shreyas-s-rao, thanks for confirming  I found out that [defragmentation](https://github.com/ishan16696/etcd-backup-restore/blob/master/pkg/defragmentor/defrag.go#L54) might need this `LongerConnectionTimeout` but I have already handled those cases of defragmentation in [LeaderElection PR](https://github.com/gardener/etcd-backup-restore/pull/353)

[2021-08-02 08:40] Harisrini2020 opened #366 "Defragmentation Failed in ETCD Druid Job"
**Describe the bug:**
We are trying the ETCD Druid Job for snapshot compaction with 200 Delta Snapshots. Druid job fetching the snapshots successfully but defragmentaion is failed.

`time="2021-08-02T08:23:18Z" level=error msg="Failed to defragment etcd member[127.0.0.1:35443] with error: context deadline exceeded"
time="2021-08-02T08:23:18Z" level=error msg="failed to defragment: context deadline

[2021-08-02 08:48] shreyas-s-rao commented on #366
The error stems from https://github.com/gardener/etcd-backup-restore/blob/1638bef219bef7c5367875d78f8cd6a83ca5c539/pkg/compactor/compactor.go#L123 which is caused due to a short default timeout for defragmentation [here](https://github.com/gardener/etcd-backup-restore/blob/1638bef219bef7c5367875d78f8cd6a83ca5c539/pkg/etcdutil/types.go#L27), from which `defragCtx` is created. We will either have to

[2021-08-02 09:27] ishan16696 commented on #366
I was expecting this and already pointed out this here too. https://github.com/gardener/etcd-backup-restore/issues/360#issuecomment-887460152

[2021-08-02 10:18] ishan16696 commented on #366
Can't we just rename this `--etcd-snapshot-timeout`  which is added in this [PR](https://github.com/gardener/etcd-backup-restore/pull/361) to somethings general which we can use [here](https://github.com/ishan16696/etcd-backup-restore/blob/master/pkg/defragmentor/defrag.go#L54) too.

[2021-08-03 04:11] amshuman-kr commented on #366
I would prefer a different flag like `--etcd-defrag-timeout`. It is not clear to me if we need exactly the same timeout values for both.

[2021-08-11 06:53] shreyas-s-rao opened #370 "[Feature] Re-enable TM tests on the pipeline"
**Feature (What you would like to be added):**
Re-enable TM tests on the concourse pipeline, but don't run it on every PR build, but ideally triggered by a label added on the PR and then automatically removed by the pipeline itself once the TM-enabled PR job is triggered.

**Motivation (Why is this needed?):**
TM tests were temporarily dropped due to an internal split in the secrets server config,

[2021-08-11 15:55] #360 closed

[2021-08-11 15:55] #366 closed

[2021-09-01 07:29] ishan16696 opened #378 "[Feature]To prepare the backup-restore to use Gomock"
**Feature (What you would like to be added):**
To avoid using the [Client struct](https://github.com/etcd-io/etcd/blob/main/client/v3/client.go#L44-L50) directly and want to start using the [Maintenance](https://github.com/etcd-io/etcd/blob/main/client/v3/maintenance.go#L38-L85), [Watcher](https://github.com/etcd-io/etcd/blob/a4a82cc98290139f95ae8d2566bdc09948123bdb/client/v3/watch.go#L46-L82), [K

[2021-10-01 13:32] #356 closed

[2021-10-26 06:36] hoeltcl opened #390 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2021-10-27 07:57] timuthy opened #392 "[BUG] Member Lease is only renewed if Snapstore config is given"
**Describe the bug:**
The etcd member `Lease` (introduced by #382) is only renewed if a `SnapstoreConfig` is given, i.e. a backup bucket is configured.

**Expected behavior:**
The member `Lease` should also be renewed if backups are disabled.

/cc @aaronfern

[2021-10-27 09:44] ishan16696 opened #394 "[BUG] When Initial FullSnapshot/Delta Snapshot is taken Leases are not getting updated."
**Describe the bug:**
When Initial [FullSnapshot](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/server/backuprestoreserver.go#L282)/[Delta Snapshot](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/server/backuprestoreserver.go#L269) is taken, Lease objects are not getting updated.

**Expected behavior:**
`Lease` should be updated whenever a full snapshot or delta

[2021-10-27 18:47] timuthy opened #395 "[BUG] Potential confict for Delta lease"
**Describe the bug:**
We identified potential conflicts with the Delta `Lease` handling because two actors update this object:
- Snapshotter (maintains revision delta, reset to `0` in case of full snapshot)
- Compactor (reset to `0` after successfully compacted backup)

If both run at the same time the patches might overwrite each other which will lead to invalid data until the next Snapshotter ru

[2021-10-28 06:52] #392 closed, assigned to nobody

[2021-10-28 08:58] timuthy opened #398 "[Flaky Test] ☂️ Issue for all flaky tests"
**How to categorize this issue?**
/area testing
/kind flake

**Which test(s)/suite(s) are flaking**:

 - [ ] Defragmentor suite falky tests:
<details>
<summary>Logs</summary>
<pre>
[It] should defragment and reduce size of DB within time

  /tmp/build/bc4dbee3/pull-request-gardener.etcd-backup-restore-pr.master/pkg/defragmentor/defrag_test.go:67

time="2021-10-27T08:32:00Z" level=info msg="Defragm

[2021-10-28 09:27] #394 closed, assigned to nobody

[2021-10-28 15:01] #395 closed, assigned to nobody

[2021-11-12 05:38] ishan16696 opened #404 "[Feature]Upgrade to golang 1.16"
**Feature (What you would like to be added):**
It will be better to upgrade the  `etcd-backup-restore` from Go 1.14 to Go 1.16

**Motivation (Why is this needed?):**
1. [etcd-druid is also using Go 1.16](https://github.com/gardener/etcd-druid/blob/master/go.mod#L3)

**Future Scope:**
Replace `io/ioutil` with io and os pkg as `io/ioutil` package has been deprecated in Go 1.16 (see https://golang.or

[2021-11-19 16:12] #378 closed

[2021-11-26 15:10] brumhard commented on #323
Hi @amshuman-kr,

Me and @breuerfelix would like to tackle this issue. If we understand the proposal correctly this is the last part of the series of cases explained in the [decision table](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#decision-table-for-etcd-backup-restore-during-initialization).
Because of that we wanted to ask whether it makes sense to s

[2021-11-28 08:20] amshuman-kr commented on #323
Thanks @brumhard and @breuerfelix for showing interest and going through the proposal.  And also for offering to help with implementing parts of it.

Unfortunately, there are some sequencing issues due to dependencies between the sub-tasks of the muli-node/HA story. For example, [this task](https://github.com/gardener/etcd-backup-restore/issues/323) depends on #321 and #322.

This is the reason th

[2021-11-29 12:18] timuthy commented on #323
I'd say that contributions for https://github.com/gardener/etcd-druid/issues/221 are very appreciated. It's a topic which doesn't require much coordination because of few or no depending items and so far no one picked up work in this area.

[2021-11-30 10:19] brumhard commented on #323
@amshuman-kr @timuthy ok sounds a bit tough. I just wanted to stress that the HA proposal is pretty high priority for us and if we can help with anything we will put time and effort into it.

Tbh gardener/etcd-druid#22 doesn't seem to be the most crucial thing to do for the HA proposal or is it (apart from the `BackupReady` condition alert which is not implemented yet if I understand correctly)? I

[2021-11-30 13:10] timuthy commented on #323
This is definitely true for us as well 👍 Due to dependencies to backup compaction and CP migration ([GEP-17](https://github.com/gardener/gardener/blob/master/docs/proposals/17-shoot-control-plane-migration-bad-case.md)) plenty of use-cases were considered so that we can come to a well functioning multi-node etcd feature.
Today we discussed that It'd be challenging on top if we needed to plan addit

[2021-12-02 08:49] shreyas-s-rao commented on #390
All vulnerabilities have been resolved or marked as non-exploitable. Closing this issue now

[2021-12-02 08:49] #390 closed

[2021-12-31 04:29] #321 closed

[2021-12-31 04:29] #354 closed

[2022-01-04 09:48] lechugaletal opened #416 "Configure custom S3 endpoint"
Hi,
Is there a way to configure etcdbrctl with a custom **S3 endpoint** for snapshot/backup storage?

I understand that the chosen path is to configure the AWS S3 auth keys and let it connect to your bucket, I'm struggling into connecting the backup utility to a custom s3/minio storage because there is no option to configure the endpoint via [ ~/.aws/credentials ] nor [ ~/.aws/conf ].

AWS cli all

[2022-01-14 07:26] timuthy commented on #322
/assign @abdasgupta

[2022-01-21 06:27] ishan16696 commented on #416
Hi @lechugaletal ,

Right now we don’t support MinIO S3 object store and we haven’t exposed the custom URL field.
Unfortunately we all are busy with some other important features like [Multi-node backup-restore](https://github.com/gardener/etcd-druid/issues/107), feel free to implement this feature, and you can take a reference of this PR #261 which added support for OCS S3 object store

[2022-01-25 15:02] timuthy opened #421 "[Feature] Introduce cached Kubernetes client"
**Feature (What you would like to be added):**
We should use a client cache when querying objects from a Kubernetes cluster. This can be done by using the [DelegatingClient](https://github.com/kubernetes-sigs/controller-runtime/blob/b704f447ea7c8f7059c6665143a4aa1f6da28328/pkg/client/split.go#L44) of the controller-runtime.

**Motivation (Why is this needed?):**
To save network costs and reduce qu

[2022-01-25 15:37] timuthy opened #422 "[Feature] Dynamically load IaaS credentials during runtime"
**Feature (What you would like to be added):**
The etcd-backup-restore process reads IaaS credentials for access cloud provider storage when it creates the [Snapstore](https://github.com/gardener/etcd-backup-restore/blob/322d3c74fcd5ea7be9961ce5e9d7ffed48ecc34e/pkg/snapstore/utils.go#L73). Most of the times the credentials change, e.g. due to secret rotation, the process needs to be restarted (dep

[2022-01-31 05:44] ishan16696 opened #423 "[Feature] Readiness Probe in multi-node etcd"
**Feature (What you would like to be added):**
Currently, [readinessProbe of etcd](https://github.com/gardener/etcd-druid/blob/master/charts/etcd/templates/etcd-statefulset.yaml#L55-L60) is set to an endpoint `/healthz` of [HTTP server](https://github.com/gardener/etcd-backup-restore/blob/322d3c74fcd5ea7be9961ce5e9d7ffed48ecc34e/pkg/server/httpAPI.go#L168) running in a backup sidecar.
This behavio

[2022-01-31 05:52] ishan16696 commented on #423
cc @timuthy @abdasgupta @aaronfern @shreyas-s-rao

[2022-01-31 07:39] timuthy commented on #423
Thanks for the summary @ishan16696. I have two comments or suggestions in general:

1. We should introduce a `/readyz` endpoint for readiness probes. It can have whatever implementation we think is the best w/o touching the pod template, i.e. we are very open to tweak the checks in the future.

2. In general I prefer your **first** approach because it executes a "real" check (w/o being influenced

[2022-01-31 08:45] ishan16696 commented on #423
I didn’t get how `/readyz` will be different from `/healthz`.
Do you want to execute `etcdctl endpoint health` from backup-restore and then set `/readyz` accordingly or something else?

[2022-01-31 08:50] ishan16696 commented on #423
added One more method:  `/health` endpoint of `etcd`
Although it is quite similar to Method 1 `etcdctl endpoint health` but I thought it is worth to mention.

[2022-01-31 08:52] timuthy commented on #423
My suggestion is just to hide the readiness checks (whatever they are) behind an endpoint because then we are and will be very flexible about the implementation behind it w/o changing the pod spec. Please lets not write something like `etcdctl endpoint health` directly to pod spec.

That endpoint can be called `/readyz` or we change `/healthz` which is also fine for me.

[2022-01-31 08:59] ishan16696 commented on #423
yes, that’s why I updated the description of issue with one more approach of `/health` endpoint provided by `etcd`.

make sense

[2022-01-31 10:44] timuthy commented on #423
Discussed with @ishan16696, @shreyas-s-rao, @aaronfern the following plan to proceed:

1. Etcd-Druid configures the following readiness probe in the `StatefulSet`:
[code]

[2022-01-31 11:33] timuthy commented on #423
Discussed with @ishan16696, @shreyas-s-rao, @aaronfern the following plan to proceed:

1. Etcd-Druid configures the following readiness probe in the `StatefulSet` **if multi-node is used**:
[code]

2. Once we support owner checks for the multi-node scenario, we modify the `/healthz` endpoint of the `etcd-backup-restore` sidecar to aggregate:

- Calling etcd's built-in `/health` check.
- Executing

[2022-01-31 11:47] ishan16696 commented on #422
To do this there is no other option but to create/update the [snapstore object](https://github.com/gardener/etcd-backup-restore/blob/322d3c74fcd5ea7be9961ce5e9d7ffed48ecc34e/pkg/snapstore/utils.go#L38) every time `backup sidecar` tries to take the snapshot(full or delta).

[2022-02-03 17:07] ishan16696 commented on #422
**To Dynamically load IaaS credentials during runtime:**

- [ ] To circumvent a required restart, `etcd-backup-restore` should recreate/update the snapstore object  every time it performs any action on the bucket.
- [ ] Mount Kubernetes secrets into the container:
  - [ ] Google cloud storage(GCS)
  - [ ] AWS s3
  - [ ] Azure Blob Storage
  - [ ] Alicloud Object storage
  - [ ] Swift

[2022-02-07 10:58] timuthy opened #429 "[Feature] Enable TM-based integration tests"
**Feature (What you would like to be added):**
Integration tests for this repository should be executed with the `testrunner` (see [here](https://github.com/gardener/etcd-backup-restore/blob/322d3c74fcd5ea7be9961ce5e9d7ffed48ecc34e/.ci/tm-tests-playground#L112)) in the test machinery cluster.
IaaS credentials which are required by the tests shall be obtained from `Secrets` residing in this cluster

[2022-02-07 10:59] timuthy commented on #429
This requirement can only be implemented when fully supported by test machinery.

[2022-02-09 07:58] #404 closed

[2022-02-09 09:18] ishan16696 opened #434 "[Feature] Upgrade to golang 1.17"
**Feature (What you would like to be added):**
Upgrade to golang 1.17

**Motivation (Why is this needed?):**
To use latest Golang version to build the binaries

**Approach/Hint to the implement solution (optional):**
The ioutil package has already been deprecated in golang 1.16, please see [go1.16#ioutil](https://golang.org/doc/go1.16#ioutil). So we also need to replace all the ioutil with os and

[2022-02-14 11:14] ishan16696 opened #437 "[Feature] OwnerCheck shouldn't fails the ReadinessProbe right away."
**Feature (What you would like to be added):**
Currently,  when the [OwnerCheck](https://github.com/gardener/etcd-backup-restore/blob/03920151cfeeb50d6e8a35c7de2aa1f7c6670625/pkg/common/ownerchecker.go#L43) fails it sets the [HTTP status to StatusServiceUnavailable](https://github.com/gardener/etcd-backup-restore/blob/03920151cfeeb50d6e8a35c7de2aa1f7c6670625/pkg/server/backuprestoreserver.go#L267)

[2022-02-16 03:48] #325 closed

[2022-02-16 16:56] sibucan opened #439 "[Feature] Perform a full final snapshot on a termination event"
**Feature (What you would like to be added):**

When etcd-backup-restore receives a signal to terminate (such as SIGTERM), it performs one final etcd snapshot before shutting down.

**Motivation (Why is this needed?):**

When running etcd-backup-restore as a sidecar to etcd in Kubernetes, and the persistent volume in which the etcd DB is placed does not have any data (or you're placing the etcd DB

[2022-02-22 06:44] #422 closed

[2022-02-24 15:23] #416 closed

[2022-03-02 10:45] #434 closed

[2022-03-07 11:24] unmarshall opened #449 "[Feature] Optimize dynamic loading of IaaS credentials"
**Feature (What you would like to be added):**
https://github.com/gardener/etcd-backup-restore/pull/435 implements dynamic loading of IaaS credentials by mounting the secret as a volume and then it periodically reads the secret file, computes its hash and compares the hash value against the cached (in-memory) value. If it has changed then it creates a new store with the new secret else it continue

[2022-03-08 06:59] hoeltcl opened #450 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2022-03-08 14:31] plkokanov commented on #437
After syncing with @stoyanr, @vlerenc and @timuthy we decided that it would be best if the etcd is not shut down if it’s not possible to confirm the current ownership via the [OwnerCheck](https://github.com/gardener/etcd-backup-restore/blob/03920151cfeeb50d6e8a35c7de2aa1f7c6670625/pkg/common/ownerchecker.go#L43).

As an additional note: we should avoid running the DNS query for the owner check sol

[2022-03-09 04:42] ishan16696 commented on #437
Hi @plkokanov,
Thanks for the update.
Do we need a separate PR for this. what’s the plan or next step ?

[2022-03-09 12:14] ishan16696 opened #451 "[BUG] Size of Compacted Full snapshot is very large."
**Describe the bug:**
@aaronfern and I have observed that size of `compacted Full snapshot` taken by [compaction-job](https://github.com/gardener/etcd-backup-restore/blob/3399805ab71ab64e88e77c596743c1899c730166/pkg/compactor/compactor.go#L53) is very large(even after compression of snapshot) as compare to size of usual `Full snapshots` which usually taken once in 24 hour.

**Root cause**:
When co

[2022-03-10 09:49] plkokanov commented on #437
@ishan16696 I think a separate PR will be more clear, but in the end w/e works for you guys best.

[2022-03-10 11:58] #451 closed

[2022-03-14 06:21] #437 closed

[2022-03-15 20:05] ishan16696 opened #454 "[Feature] Need to capture the Full snapshot time and compression time."
**Feature (What you would like to be added):**
Currently , In [FullSnapshot](https://github.com/gardener/etcd-backup-restore/blob/1e3169cd7b7ea8d482f95ecd5fc4e23a6aed92e5/pkg/etcdutil/etcdutil.go#L250) we are just capturing  [upload time of a full snapshot](https://github.com/gardener/etcd-backup-restore/blob/1e3169cd7b7ea8d482f95ecd5fc4e23a6aed92e5/pkg/etcdutil/etcdutil.go#L269-L278).
Apart from

[2022-03-16 07:41] #454 closed

[2022-04-06 03:42] mixitgit opened #461 "[BUG] AWS_FORCE_PATH_STYLE env is ignored"
**Describe the bug:**
AWS_FORCE_PATH_STYLE env variable is ignored
**Expected behavior:**
AWS_FORCE_PATH_STYLE env variable should set S3ForcePathStyle in s3 client
**How To Reproduce (as minimally and precisely as possible):**
Set AWS_FORCE_PATH_STYLE on v0.15.1

[2022-04-07 10:09] #461 closed

[2022-04-13 17:51] abdasgupta opened #466 "Safe-guard against wrongly mounted volumes"
**Describe the bug:**
We found that there is a bug in csi-driver that can try to attempt to attach two disks to the same node at same time. And so, a race condition may happen and one node may be attached with a volume that is not intended for it. So, it's possible that volume used by ETCD of one shoot is mounted as volume used for ETCD of another shoot. We need to place a check in ETCD backup-res

[2022-04-13 18:04] vlerenc commented on #466
Thank you @abdasgupta, though I wouldn't call it a bug, but actually a safe-guard/protection, if that ever happens (the bug is with Kubernetes/CSI that leads to such cases of wrongly mounted volumes against which we want a safe-guard as the consequences would be dire).
/title Safe-guard against wrongly mounted volumes
/remove bug
/add enhancement

[2022-04-22 10:48] ishan16696 opened #469 "[Feature] Backup-restore should take care of releasing the lock over etcd db file which stops new etcd process to come up"
**Feature (What you would like to be added):**
1. It has been observed that some times due to abruptly termination of `etcd container` the lock on the `etcd db` file was still held by previous etcd process. And this stop new etcd process to come up as [new etcd process unable to access db file](https://github.com/etcd-io/etcd/blob/v3.4.13/etcdserver/backend.go#L69-L98) as it is unable to [open bol

[2022-04-29 12:46] hoeltcl opened #472 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2022-05-03 06:24] ishan16696 commented on #466
closing this issue as it is fixed in this PR https://github.com/gardener/etcd-backup-restore/pull/468 for master branch
/close.

[2022-05-03 06:24] #466 closed

[2022-05-05 11:17] hoeltcl commented on #472
/ping @shreyas-s-rao, @abdasgupta

[2022-05-24 11:08] ishan16696 commented on #423
As discussed in our internal sync that right now we have many unknowns since we don't know the what edge cases might arise in production w.r.t `readinessProbe` in **multi-node etcd** as well as **multi-AZ etcd**  we can go ahead with the above approach(https://github.com/gardener/etcd-backup-restore/issues/423#issuecomment-1025645494) for time being and later we can pick this up with better Knowle

[2022-05-25 06:11] abdasgupta opened #481 "[Feature] Single node restoration for ETCD multinode cluster"
**Feature (What you would like to be added):**
Single nodes should be able to come back up seamlessly in a multi node cluster setup.
**Motivation (Why is this needed?):**
Currently, in the multinode cluster, we are seeing that single node can't restore properly if it faces a sudden shutdown. Single nodes are unable to come back up due to revision check that is blocking it from running. That's why,

[2022-05-27 11:03] ishan16696 opened #483 "[Flaky Test] Integration test"
**How to categorize this issue?**

/area testing
/kind flake

**Describe the bug:**
By looking at the logs of `integration test` in concourse it has been observed many times that Integration test got stuck somewhere with these logs with  no progress.

<details>
<summary>Logs</summary>
<pre>

Running Suite: Integration Suite

Random Seed: 1653642591
Will run 6 of 6 specs

time="2022-05-27T09:09:57Z

[2022-06-02 05:11] hoeltcl commented on #472
Resolved

[2022-06-02 05:11] #472 closed

[2022-06-06 19:41] #481 closed

[2022-06-07 05:15] ishan16696 commented on #469
This issue had been observed again when @seshachalam-yv was creating a load in `multi-node etcd` zonal cluster to test it.
Initially all 3 member of etcd cluster went into this issue but then @seshachalam-yv informed me that 2 out of 3 pods member recovered without doing anything.
[code]

But `etcd-main-0` didn’t recovered. Logs of `etcd` container of `etcd-main-0` pod:
[code]
More Importantly **r

[2022-06-07 10:43] aaronfern opened #488 "[Feature] Add/Remove member from etcd cluster"
**Feature (What you would like to be added):**
Etcd should be able to add a member to the cluster member list as well as be able to remove a member from the cluster member list

**Motivation (Why is this needed?):**
With the push to multi-node etcd, there are operations where we would need to either add entries to the etcd cluster member list or remove entries from the etcd cluster member list

-

[2022-06-08 09:13] abdasgupta opened #489 "[Feature] Restoration handling for a single node in a multinode cluster."
**Feature (What you would like to be added):**
If a node is temporarily down in multinode setup of  ETCD cluster and PVC is still available after it restarts, it should join easily to the cluster and restore properly.
**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**

[2022-06-08 09:15] #489 closed

[2022-06-08 09:27] abdasgupta opened #490 "[Feature] Address vulnerabilities reported in checkmarx scan in codebase"
**Feature (What you would like to be added):**
There are some low risk vulnerabilities as per the checkmarx [scan](https://cx.wdf.sap.corp/CxWebClient/portal#/projectState/28930/Summary). We need to resolve at least 10% of those vulnerabilities.
**Motivation (Why is this needed?):**

**Approach/Hint to the implement solution (optional):**

[2022-06-23 15:21] ishan16696 opened #494 "[BUG] Etcd-backup-restore fails to call defragmentation"
**Describe the bug:**
 Defragmentation fails as etcd-backup-restore was unable get status of etcd endPoint due to authentication handshake failed as it uses the peer service to connect to etcd.
[code]

**Expected behavior:**
Etcd-backup-restore should able to call the defragmentation api call on etcd-endpoints.

**Environment (please complete the following information):**
 - Etcd version/commit ID

[2022-06-23 15:31] ishan16696 commented on #494
cc @aaronfern @timuthy @abdasgupta

[2022-07-11 03:47] ishan16696 opened #500 "[BUG] Etcd is not getting the correct Peer Address after restoration."
**Describe the bug:**
Observed one issue on dev landscape with `single-node etcd` that when we create a new etcd cluster then Peer address is correct, but after restoration of Etcd by backup-restore the Peer Address is not seems to be correct.

- Before Restoration `PEER ADDRS` is correct.
[code]
- After Restoration `PEER ADDRS` is not correct.
[code]
**Important**:
- It won't cause any issue in c

[2022-07-11 04:15] ishan16696 commented on #500
cc @aaronfern @abdasgupta

[2022-07-12 09:50] hoeltcl opened #502 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2022-07-13 05:39] ishan16696 commented on #494
Closing this issue as it is fixed by https://github.com/gardener/gardener/pull/6182.
/close

[2022-07-13 05:39] #494 closed

[2022-07-20 09:43] #500 closed

[2022-07-22 10:40] hoeltcl commented on #502
@shreyas-s-rao, @abdasgupta, @timuthy Any update here?

[2022-07-22 10:47] hoeltcl commented on #502
Resolved

[2022-07-22 10:47] #502 closed

[2022-08-03 05:33] ishan16696 opened #515 "[BUG] Defragmentation is not working as expected for some shoots"
**Describe the bug:**
I observe that some shoots defragmentation is not working.
Error logs:
[code]

Also tried to get the endpoint status by exec into a etcd container.
[code]

For past 7 days: `0` defragmentation was successful .
<img width="543" alt="defrag_not_working" src="https://user-images.githubusercontent.com/42602577/182518876-b68aab9f-46a1-4a04-b0ea-a5cbc381021b.png">

But on the other

[2022-08-04 09:08] ishan16696 commented on #488
closing this issue in favour of:
scale-up feature : https://github.com/gardener/etcd-backup-restore/pull/487
restoration in case of pvc-corruption : https://github.com/gardener/etcd-backup-restore/pull/509
/close

[2022-08-04 09:08] #488 closed

[2022-08-04 14:35] timuthy opened #516 "[BUG] Leader delegation does not work with self-singed certificate"
**Describe the bug:**
Etcd-Backup-Restore proxys certain requests related to the `snapshotter` to the etcd leader in case of a multi-node cluster. This procedure does not work if `TLS` is enabled via `--server-cert` and `--server-key` and the certificate is not signed by a commonly trusted CA.

The following error (405) is received when the command is executed in a `follower` pod:

[code]

Pod log

[2022-08-04 18:29] frenchtoasters opened #517 "[BUG] Two snapshotters running after network disruption"
**Describe the bug:**
When there is a network disruption between the etcd and etcdbrctl containers it is possible to have two instances of the snapshotter taking and uploading snapshots to the snapstore.

**Expected behavior:**
The snapshotter should always be stopped when the state moves from `Leader` to `UnknownState`.

**How To Reproduce (as minimally and precisely as possible):**
* Create clus

[2022-08-12 06:59] ishan16696 commented on #517
Hi @frenchtoasters .
I have doubts regarding the steps you mentioned to reproduce this issue:

when we trigger the context deadline exceeded then backup-restore will move to leader -> unknown state, and will try to perform [some action](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/leaderelection/leaderelection.go#L101) like closing snapshotter. Is this [check interval](https://g

[2022-08-12 19:03] frenchtoasters commented on #517
Hey @ishan16696

We are taking the defaults for those values in our deployment.

The only thing that we can tell, as the log suggests, that when there is _two_ `context deadline exceeded` messages that pop up within quick succession this issue will occur.

Looking at the timestamps between the errors below, this time it happened within 2 minutes.
[code]
[code]

After the second one we can clearly

[2022-08-16 09:53] ishan16696 commented on #322
Closing this issue in favour of these PRs: https://github.com/gardener/etcd-backup-restore/pull/419 ,https://github.com/gardener/etcd-custom-image/pull/8, https://github.com/gardener/etcd-druid/pull/193

/close

[2022-08-16 09:53] #322 closed

[2022-08-19 06:10] ishan16696 opened #519 "Panic occurs while opening the corrupt boltDB which leads to unrecoverable etcd pod crashed."
**Describe the bug:**
It has been observed that when `db file` of etcd data-dir has been corrupted and when backup-restore tries to [verify db](https://github.com/gardener/etcd-backup-restore/blob/f6e1b93e58cf6e6c1d341a22e7e47c9e6cfd7d8a/pkg/initializer/validator/datavalidator.go#L268) by [opening the boltDB](https://github.com/gardener/etcd-backup-restore/blob/f6e1b93e58cf6e6c1d341a22e7e47c9e6cfd

[2022-08-19 06:13] ishan16696 commented on #519
/assign

[2022-08-19 10:34] ishan16696 commented on #323
Update on this issue:
1. [x] [Restart of an existing member of a quorate cluster with valid metadata but without valid data](https://github.com/gardener/etcd-druid/blob/master/docs/proposals/multi-node/README.md#4-restart-of-an-existing-member-of-a-quorate-cluster-with-valid-metadata-but-without-valid-data)
    - This case has already been handled in feature: [single member restoration in muli-nod

[2022-09-02 11:29] unmarshall opened #529 "[Feature] Enhance etcd lease to add peer url enabled status as an annotation"
**Feature (What you would like to be added):**
Add annotation to etcd lease to contain peerUrlTLSEnabled boolean value.

**Motivation (Why is this needed?):**
Currently for a single node etcd cluster, the member peer URL is not TLS enabled. If this cluster is scaled from 1 to 3 then the new members that are started have peer certs configured and already communicate via peer URL that is TLS enabled

[2022-09-02 15:50] unmarshall commented on #529
/assign

[2022-09-05 07:44] #519 closed

[2022-09-05 10:43] #529 closed

[2022-09-06 05:51] ishan16696 opened #531 "[Feature] Backup-restore should detects alarm and remove the `alarm:NOSPACE` from etcd."
**Feature (What you would like to be added):**
Backup-restore should be able to detect the alarm(if any cluster member have) and backup-restore should be able to take action accordingly and remove the alarm from etcd.

**Motivation (Why is this needed?):**
Currently etcd `--quota-backend-bytes` is to `8Gi` and when etcd backend database size exceeds the given quota, etcd raises a cluster-wide alar

[2022-09-06 05:52] ishan16696 commented on #531
/assign

[2022-09-09 10:43] ishan16696 commented on #398
Updated the issue to track all flaky tests in backup-restore.

[2022-09-14 06:32] unmarshall opened #533 "[BUG] Member Peer URL not updated when scaled to multi-node, scale identification is also not correct"
**Describe the bug:**
In a single node etcd cluster today, the peer URL is not TLS enabled. When the etcd cluster is scaled from 1 to 3 then the other nodes only talk over TLS but since the first member cannot talk TLS, the other 2 members fail to join the cluster. The pods go into `CrashLoopBackOff`. To correct that we earlier merge #530, however that is not sufficient. To ensure that the TLS is

[2022-09-14 06:32] unmarshall commented on #533
/assign

[2022-09-16 06:16] #533 closed

[2022-09-21 08:13] abdasgupta commented on #323
We have already validated recovery from transient quorum loss ( see here https://github.com/gardener/etcd-druid/issues/436) . For a non quorate cluster, we will need human intervention. The human operator will decide how to recover a non quorate cluster. We will be providing a playbook for their guidance. Please follow https://github.com/gardener/etcd-druid/issues/437 for more details. As the scop

[2022-09-21 08:13] #323 closed

[2022-09-21 08:56] unmarshall opened #538 "Delay in updating peer TLS enabled status can result in more than desired restarts of etcd"
**Describe the bug:**
**Background:**

Refer: https://github.com/gardener/etcd-backup-restore/issues/529
For most cases this works. To determine how many restarts of etcd member is required depends on the timely updation of member lease annotation. In an edge scenario, it is possible that etcd-druid does not see the update of the lease in time and schedules additional restarts. This can result in

[2022-09-21 08:56] unmarshall commented on #538
/assign

[2022-09-21 11:21] aaronfern opened #539 "[BUG] `UpdateMemberPeerURL` should just log an error message instead of returning the error"
**Describe the bug:**
In recent `etcd-backup-restore` releases, a change was introduced where `etcd-backup-restore` attempts to update the member URL. This is needed as members need a specific peer URL and older clusters may still have an outdated URL.
Whilst `etcd-backup-restore` reattempts the `UpdateMemberPeerURL` call in case of failures, it does so only a finite number of times and then [retu

[2022-09-23 08:16] #539 closed

[2022-09-28 05:39] ishan16696 commented on #516
@aaronfern and I also encounter this issue while trying to take a out-of-schedule delta snapshot.
 Logs of follower backup-restore:
[code]

[2022-09-28 05:40] ishan16696 commented on #516
/assign

[2022-09-28 06:37] ishan16696 commented on #517
Although I'm unable to reproduce this issue but I think this PR:https://github.com/gardener/etcd-backup-restore/pull/537 might also solve this issue as well.

[2022-10-05 12:37] louisportay opened #544 "[Discussion] Monitoring within the snapshotter"
**Feature:**

As the snapshotter already gathers metrics, could the idea of exposing them with a HTTP server be realistic ?
I know it's feasible but is it the goal of the snapshotter ? I think it is a really nice to have, not to hard to implement.

**Motivation (Why is this needed?):**

I tried using the command server in my environment but I found it hard to do exactly what I wanted (just export

[2022-10-05 14:15] ishan16696 commented on #544
I didn't get the motivation behind this feature requirement. Isn't all the metrics including (snapshotter related metrics) can be retrieved using the endpoint `/metrics`  ?
How it will be different from the existing snapshotter metrics ? do you want to add more metrics ?

[2022-10-05 15:02] louisportay commented on #544
Yes, metrics can be retrieved with the server command, but the server command is doing a lot more things than what I need (the snapshotter does a perfect job for me) but I have no metrics related to the snapshotters.
If I read the code right, the only command exposing an HTTP server is _server_, I propose to add one to the _snapshotter_ command (as it's a long running process as well).

[2022-10-06 02:43] ishan16696 commented on #544
so, you want to start separate HTTP server for `snapshotter` sub-command to retrieve the `snapshotter` related metrics right ?
TBH, I don't find any good reason to add this as a new feature. It will increase the code complexity with very less value added.
I would suggest to use the backup-restore with server command, it will you give much more functionalities like restoration, etcd data-dir valida

[2022-10-06 09:28] ishan16696 commented on #544
cc @unmarshall @aaronfern
/need-second-opinion

[2022-10-06 12:32] ishan16696 commented on #544
Hi @louisportay,
may be I have misunderstood your requirements, let me rephrase:
Do you want to add a separate endpoint exposed via HTTP server which only contains `snapshotter` metrics ?
or Do you want to start separate HTTP server for `snapshotter` sub-command to retrieve the snapshotter related metrics?

[2022-10-06 13:07] louisportay commented on #544
Hi Ishan,

The latter one, a separate HTTP server packed with `snapshotter` sub-command, I think the implementation should be straightforward and similar to the `server` sub-command one.
I think there should be an easy way to retrieve these metrics without the added overhead of tuning configuration/editing code for the `server` sub-command.

What do you think ?

[2022-10-07 04:52] ishan16696 opened #547 "☂️ Issue to remove/mitigate time dependency of backup-restore"
**How to categorize this issue?**
/kind enhancement

Stories:
---
1. To remove our time coupled backup-restore's actions on leadership change.
2. Remove this [etcd_bootstap_script.sh](https://github.com/gardener/etcd-custom-image/blob/master/etcd_bootstrap_script.sh) with Golang app to have a better control over etcd.

**What would you like to be added:**
- [ ] https://github.com/gardener/etcd-dru

[2022-10-07 04:52] ishan16696 commented on #547
cc @unmarshall @aaronfern @abdasgupta @shreyas-s-rao

[2022-10-07 08:04] louisportay commented on #544
Welp, I guess the discussion is over.

Thanks for your time gentlemen

[2022-10-07 08:04] #544 closed

[2022-10-07 13:02] unmarshall opened #548 "[Feature]"
**Feature (What you would like to be added):**

`etcd-backup-restore` has evolved w.r.t functionalities that it offers. However, evolution has created complexity, potential of having race conditions (as there are more than one actors who have overlapping responsibilities), inability to use distroless images which have been a requirement from security perspective and last but not the least modular

[2022-10-07 13:03] #548 closed

[2022-10-11 03:25] unmarshall opened #549 "etcd-backup-restore refactoring"
# How to categorize this issue?
/kind enhancement
/kind epic

# Stories
This epic captures all enhancements and improvements to backup-restore to ensure the following:
1. Race conditions are eliminated.
2. Code is re-designed to allow flexible functional selection by end consumers.
3. Optimize memory consumption.
4. Single responsibility principle is enforced for all functionalities offered from w

[2022-10-13 07:13] #516 closed

[2022-10-27 12:01] et304383 opened #552 "[Feature] Proper/Full IAM support including profiles, roles, temporary credentials, AWS SSO, etc"
**Feature (What you would like to be added):**

I would like this tool to support non-static IAM credentials in AWS.  This includes:

- Profiles
- IAM roles
- Temporary credentials including a session token
- AWS SSO profiles

**Motivation (Why is this needed?):**

Static credentials are bad!

No but seriously, any tool that wants to be taken seriously and used by enterprise has to support enterpr

[2022-11-02 11:29] ishan16696 opened #553 "[BUG] Race-condition between closing the snapshotter and taking out-of-sync snapshot."
**Describe the bug:**
We have observed the race-condition is happening while closing the `snapshotter` if out-of-sync snapshot is also get triggers at the same time which leads to deadlock.
When [snapshotEventHandler](https://github.com/gardener/etcd-backup-restore/blob/84da9e978dac1509cf277e1e03bb58384f9e2671/pkg/snapshot/snapshotter/snapshotter.go#L600) get close and [out-of-schedule full snapsh

[2022-11-02 14:35] ishan16696 commented on #553
cc @abdasgupta @unmarshall @aaronfern @shreyas-s-rao

[2022-11-02 14:37] ishan16696 commented on #553
As we have already plan of refactoring the backup-restore I would suggest a temporary solution for this:
Basically we should avoid triggering the out-of-schedule full snapshot after defragmentation. This will temporarily reduces likelihood of this issue from happening. WDYT ?

cc @unmarshall @aaronfern @abdasgupta

[2022-11-04 11:30] unmarshall commented on #553
There is one issue with the explanation. If `TriggerFullSnapshot` sends a message on a closed channel (`fullSnapshotReqCh`) then it will not block but it will panic.

[2022-11-04 17:17] ishan16696 commented on #553
yes, you correct but what I found is fullSnapshotReqCh channel is not getting closed, [snapshotEventHandler](https://github.com/gardener/etcd-backup-restore/blob/84da9e978dac1509cf277e1e03bb58384f9e2671/pkg/snapshot/snapshotter/snapshotter.go#L600) is getting closed [here](https://github.com/gardener/etcd-backup-restore/blob/84da9e978dac1509cf277e1e03bb58384f9e2671/pkg/snapshot/snapshotter/snapsho

[2022-11-11 06:34] ishan16696 opened #556 "[Feature] Defragmentor of backup-restore should also consider the etcd db size along with scheduled defrag"
**Feature (What you would like to be added):**
[Defragmentor logic](https://github.com/gardener/etcd-backup-restore/blob/master/pkg/defragmentor/defrag.go#L106-L107) of backup-restore should also consider the `etcd db` size along with schedule time of defragmentation and if Defragmentor observed that `etcd db` size has crossed the certain limit(say 7Gi) then it should trigger the out-of-schedule d

[2022-11-14 05:25] unmarshall commented on #553
Accepting a request to trigger a full snapshot when the snapshotter loop has been exited is semantically incorrect. Have a `isClosed` method in the snapshotter. Check if it has already been closed. If yes then reject any request for snapshots.

[2022-11-18 04:16] unmarshall opened #557 "[Discuss] Having a single etcd container (which includes backup-restore) or keep the status quo"
# How to categorize this issue?
/kind discussion

## What would you like to be added

This issue only serves as a placeholder where all active contributors can collaborate and discuss the pros and cons of having a single container housing both backup-restore and etcd.

# Motivation (Why is this needed?)

Due to several factors like (security compliance, increasing complexity of the code etc.), the

[2022-11-18 04:34] unmarshall commented on #557
Backup-restore IMO is an agent for the main etcd container which has the following responsibilities:
* Backup-restore leader sidecar does the following:
  *  Takes regular delta and full snapshots.
  *  Orchestrates a regular defragmentation of the etcd cluster. In future it will also do threshold based defragmentation (see [Issue#556](https://github.com/gardener/etcd-backup-restore/issues/556).

[2022-11-18 06:04] unmarshall commented on #557
We already have such an actor `etcd-druid` which today serves as an orchestrator for a few things concerning etcd. Do we need yet another actor? Looking at the above list of pros and cons with multi-zonal deployments this would surely present more challenges making it difficult to restore individual etcd pods.

[2022-11-18 07:43] timuthy commented on #557
IIUC, having everything in one container means that `etcd-backup-restore` becomes the process managed of `etcd`.

Some doubts:
- Availability of `etcd` depends on `etcd-backup-restore`, any runtime failure in `etcd-backup-restore` directly affects the availability of this `etcd` member. Esp. critical for single-node `etcd`s.
- Not ideal for observability as there is no out-of-the-box distinction b

[2022-11-18 07:52] ishan16696 commented on #557
Everything in one container means we are coupling the health of backup-restore and etcd together, health of 1 process will affect the health of other, vice-versa. This doesn’t seems promising to me untill it solves some major issues/complexity.

[2022-11-21 04:08] ishan16696 commented on #553
As this PR: https://github.com/gardener/etcd-backup-restore/pull/554 only contains the temporary fix for this issue, I'm reopening this issue as we will pick this to have a permanent fix.

[2022-11-25 05:26] ishan16696 commented on #517
Apart fromt this PR:https://github.com/gardener/etcd-backup-restore/pull/537 se have introduced some more improvements in closing of snapshottter with this PR:https://github.com/gardener/etcd-backup-restore/pull/546 in backup-restore v0.21.0.
Please let me know if you observe this issue again.

[2022-11-25 05:36] ishan16696 commented on #557
As a conclusion, this design will introduce some complexities/disadvantages like mentioned in comments: https://github.com/gardener/etcd-backup-restore/issues/557#issuecomment-1319653434 and https://github.com/gardener/etcd-backup-restore/issues/557#issuecomment-1319659921.
For now I'm closing this issue but feel free to open this issue if you feel otherwise.
/close

[2022-11-25 05:36] #557 closed